.Info {
  width: 100%;
  position: fixed;
  z-index: 565;
  &__content {
    min-height: 48px;
    display: flex;
    justify-content: end;
    gap: 2.5rem;
    padding: 0 176px;
    background-color: #d61a22;
    font-size: 0.9rem;
    a {
      color: var(--textColor);
    }
    &-phone,
    &-email {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
@media (max-width: 1024px) {
  .Info {
    &__content {
      gap: 2rem;
      padding: 0 60px;
    }
  }
}
@media (max-width: 768px) {
  .Info {
    &__content {
      gap: 2rem;
      padding: 0 50px;
      a {
        font-size: 10px;
      }
    }
  }
}
@media (max-width: 390px) {
  .Info {
    min-width: 320px;
    &__content {
      padding: 0 20px;
      justify-content: center;
      gap: 10px;
      padding: 0 20px;
      a {
        font-size: 10px;
      }
    }
  }
}
