.aboutHome {
  // width: 100%;
  &__content {
    // width: 100%;
    // max-width: 1730px;
    margin: 134px auto 0;
    background-color: #eee9e9;

    &-title {
      // width: 100%;
      background: url(../../../public/images/truckBackground.jpeg) no-repeat
        center center;
      background-size: cover;
      height: 500px;
      h2 {
        color: var(--textColor);
        padding: 200px 0 0 200px;
        text-align: start;
        font-size: 70px;
        text-transform: uppercase;
      }
    }
    &-whoWeAre {
      p {
        margin: 58px auto 0;
        width: 90%;
        max-width: 1730px;
        font-size: 27px;
        line-height: 44px;
        text-align: justify;
        hyphens: auto;
        word-break: break-word;
      }
      &-box {
        width: 95%;
        display: flex;
        align-items: center;
        max-width: 1730px;
        gap: 50px;
        p {
          width: 744px;
          text-align: justify;
          font-size: 27px;
          line-height: 45px;
        }
        img {
          width: 837px;
          height: 475px;
        }
      }
    }
    &-activity {
      max-width: 1730px;
      display: flex;
      margin: 100px auto 100px;
      &-box {
        background: url(../../../public/images/abouthome_container.png)
          no-repeat center;
        display: flex;
        height: 758px;
        img {
          width: 800px;
          border-top-left-radius: 200px;
        }
        &-text {
          display: flex;
          text-align: justify;
          flex-direction: column;
          align-items: center;
          flex: 1;
          hyphens: auto;
          word-break: break-word;
          h2 {
            margin: 100px 0 60px;
            font-size: 45px;
            color: var(--mainColor);
            font-weight: 600;
          }
          p {
            width: 90%;
            line-height: 40px;
            font-size: 27px;
          }
        }
      }
    }
    &-achievements {
      background: url(../../../public/images/truck_logistic.png) no-repeat
        center;
      background-size: cover;
      overflow-y: hidden;
      width: 100%;
      border-radius: 151px 38px 109px 30px;
      display: flex;
      justify-content: center;
      margin-top: 74px;
      &-box {
        width: 1338px;
        margin-top: 60px;
        &-left {
          &-title {
            h2 {
              font-size: 40px;
              color: var(--mainColor);
              margin-bottom: 20px;
            }
          }
          p {
            font-size: 28px;
            text-align: justify;
            color: var(--darkBackground);
          }
        }
        &-right {
          display: flex;
          gap: 82px;
          img {
            width: 640px;
            border-radius: 64px;
            margin-top: 38px;
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .aboutHome {
    &__content {
      &-title {
        height: 450px;
        h2 {
          font-size: 60px;
          padding: 180px 0 0 180px;
        }
      }
      &-whoWeAre {
        p {
          margin: 54px auto 0;
          font-size: 26px;
          line-height: 42px;
        }
        &-box {
          gap: 40px;
          p {
            font-size: 26px;
          }
          img {
            height: 425px;
          }
        }
      }
      &-activity {
        &-box {
          border-top-left-radius: 200px;
          border-bottom-right-radius: 200px;
          height: 800px;
          img {
            width: 660px;
            height: 740px;
            margin-top: 30px;
          }
          &-text {
            h2 {
              font-size: 40px;
            }
            p {
              font-size: 24px;
            }
          }
        }
      }
      &-achievements {
        &-box {
          &-left {
            width: 90%;
            margin: 0 auto;

            &-title {
              h2 {
                font-size: 36px;
              }
            }
            p {
              font-size: 24px;
            }
          }
          &-right {
            padding: 0 80px;

            img {
              width: 500px;
              margin: 38px auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .aboutHome {
    &__content {
      &-title {
        height: 400px;
        h2 {
          font-size: 50px;
          padding: 160px 0 0 160px;
        }
      }
      &-whoWeAre {
        p {
          margin: 48px auto 0;
          font-size: 24px;
          line-height: 40px;
        }
        &-box {
          gap: 20px;
          p {
            font-size: 24px;
          }
          img {
            height: 375px;
          }
        }
      }
      &-activity {
        &-box {
          height: 660px;
          img {
            display: none;
          }
          &-text {
            h2 {
              margin: 60px 0 40px;
              overflow-y: hidden;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            display: flex;
            flex-direction: column;
            p {
              font-size: 18px;
            }
          }
          &-right {
            padding: 20px;

            img {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
// @media (max-width: 1160px) {
//   .aboutHome {
//     &__content {
//       &-activity {
//         &-box {
//           border-top-left-radius: 70px;
//           border-bottom-right-radius: 70px;

//           img {
//             display: none;
//           }

//           &-text {
//             p {
//               margin: 10px 0 20px;
//               text-align: center;
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .aboutHome {
    &__content {
      &-title {
        height: 350px;
        h2 {
          font-size: 40px;
          padding: 140px 0 0 140px;
        }
      }
      &-whoWeAre {
        p {
          margin: 44px auto 0;
          font-size: 22px;
          line-height: 38px;
        }
        &-box {
          flex-direction: column;
          width: 90%;
          margin: 0 auto;
          gap: 0;
          p {
            font-size: 22px;
            margin: 0;
            width: 95%;
          }
          img {
            width: 100%;
            height: 325px;
          }
        }
      }
      &-activity {
        &-box {
          border-radius: 0;
          height: 700px;
          &-text {
            h2 {
            }
            p {
              font-size: 22px;
              line-height: 38px;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 22px;
              }
            }
            p {
              font-size: 16px;
            }
          }
          &-right {
            flex-wrap: wrap;
            padding: 0;
            gap: 0;
            width: 340px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .aboutHome {
    &__content {
      &-title {
        height: 300px;
        h2 {
          font-size: 30px;
          padding: 140px 0 0 100px;
        }
      }
      &-whoWeAre {
        p {
          margin: 40px auto 0;
          font-size: 20px;
          line-height: 36px;
        }
        &-box {
          p {
            font-size: 20px;
          }
          img {
            height: 300px;
          }
        }
      }
      &-activity {
        &-box {
          &-text {
            h2 {
              font-size: 24px;
              margin: 40px 0 20px;
            }
            p {
              font-size: 20px;
            }
          }
        }
      }
      // &-achievements {
      //   &-box {
      //     width: 90%;
      //     &-left {
      //       &-title {
      //         h2 {
      //           font-size: 30px;
      //         }
      //       }
      //     }
      //     &-right {
      //       width: 240px;
      //     }
      //   }
      // }
    }
  }
}
@media (max-width: 390px) {
  .aboutHome {
    &__content {
      &-title {
        height: 250px;
        h2 {
          padding: 100px 0 0 80px;
        }
      }
      &-whoWeAre {
        p {
          margin: 36px auto 0;
          font-size: 18px;
          line-height: 34px;
        }
        &-box {
          p {
            font-size: 18px;
          }
          img {
            height: 275px;
          }
        }
      }
      &-activity {
        &-box {
          &-text {
            h2 {
              font-size: 24px;
              margin: 20px 0 10px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 30px;
              }
            }
          }
          &-right {
            width: 240px;
          }
        }
      }
    }
  }
}
