.aboutHome {
  &__content {
    width: 100%;
    &-title {
      background: url(./images/truckBackground.svg) no-repeat center;
      height: 332px;
      h2 {
        color: var(--textColor);
        padding: 134px 0 0 200px;
        font-size: 70px;
        text-transform: uppercase;
      }
    }
    &-whoWeAre {
      h2 {
        margin-top: 38px;
        text-align: center;
        color: var(--mainColor);
        font-size: 40px;
      }
      p {
        margin-top: 10px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 30px;
      }
      &-box {
        display: flex;
        align-items: center;
        gap: 43px;
        p {
          width: 932px;
          text-align: center;
          font-size: 30px;
          margin-left: 64px;
        }
        img {
          height: 425px;
        }
      }
    }
    &-activity {
      // border: 1px solid red;
      width: 100%;
      height: auto;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      &-box {
        display: flex;
        justify-content: center;
        transform: skew(-10deg);
        border-radius: 46.63px;
        background-color: #ccd7df66;
        // border: 1px solid green;
        width: 90%;

        height: 731px;
        gap: 65.5px;

        img {
          // border: 1px solid blue;
          transform: skew(10deg);
          max-width: 90%;
          width: 892px;
          height: auto;
          margin-right: -93px;
          margin-top: 70px;
        }

        &-text {
          // border: 1px solid red;
          transform: skew(10deg);
          margin-left: 20px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;

          h2 {
            // border: 1px solid red;
            margin-top: 30px;
            font-size: 45px;
            color: var(--mainColor);
          }

          p {
            // border: 1px solid red;
            margin-top: 20px;
            width: 100%;
            max-width: 95%;
            min-height: auto;
            font-size: 28px;
            margin-left: 40px;
          }
        }
      }
    }
    &-achievements {
      background: url("./images/truck-logistics-operations-dusk.svg") no-repeat;
      width: 100%;
      height: 639px;
      border-radius: 151px 38px 149px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;
      &-box {
        display: flex;
        justify-content: space-between;
        width: 1447px;
        &-left {
          &-title {
            display: flex;
            align-items: center;
            justify-content: center;
            h2 {
              font-size: 40px;
              color: var(--mainColor);
            }
            img {
              margin-bottom: 16px;
              width: 125px;
              height: 125px;
            }
          }
          p {
            width: 620px;
            font-size: 27px;
            text-align: center;
            color: var(--darkBackground);
          }
        }
        &-right {
          img {
            width: 100%;
          }
        }
      }
    }
    &-service {
      background: url(./images/vector.svg) no-repeat;
      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 133px auto 0 auto;
        h2 {
          font-size: 55px;
          color: var(--mainColor);
        }
        button {
          width: 298px;
        }
      }
      &-items {
        width: 100%;
        margin: 58px auto 0 auto;
        padding-bottom: 116px;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        &-top {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 58px;
          &-item {
            width: 614px;
            height: 368px;
            background-color: #c4d2dc;
            border-radius: 16px;
            &-title {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 40px;
              background-color: #7f929d;
              border-radius: 16px;
              height: 147px;
              &-img {
                width: 92px;
                height: 92px;
                background-color: var(--textColor);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 28px;
              }
              h2 {
                color: var(--textColor);
              }
            }
            p {
              width: 522px;
              text-align: center;
              text-transform: capitalize;
              margin: 54px auto;
            }
          }
        }
        &-bottom {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 2rem;
          &-center {
            img {
              width: 382px;
              height: 221px;
            }
          }
          &-item {
            width: 614px;
            height: auto;
            background-color: #c4d2dc;
            border-radius: 16px;

            &-title {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 40px;
              background-color: #7f929d;
              border-radius: 16px;
              height: 147px;
              &-img {
                width: 92px;
                height: 92px;
                background-color: var(--textColor);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 28px;
              }
              h2 {
                color: var(--textColor);
              }
            }
            p {
              width: 522px;
              text-align: center;
              text-transform: capitalize;
              margin: 54px auto;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .aboutHome {
    &__content {
      &-activity {
        &-box {
          img {
            width: 492px;
            margin-right: 0px;
          }

          &-text {
            p {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .aboutHome {
    &__content {
      &-title {
        height: auto;
        padding-bottom: 84px;
        h2 {
          padding: 50px 0 0 150px;
        }
      }
      &-whoWeAre {
        border: 1px solid red;
        p {
          width: 90%;
        }
        &-box {
          margin: 40px auto;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      &-activity {
        &-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
          img {
            width: 392px;
            margin-right: 0px;
            margin-top: 0;
          }

          &-text {
            p {
              font-size: 20px;
              max-width: 80%;
            }
          }
        }
      }
      &-achievements {
        height: auto;
        margin-top: 50px;
        &-box {
          width: inherit;
          justify-content: center;
          flex-wrap: wrap;
          &-left {
            p {
              width: 100%;
              font-size: 22px;
              text-align: center;
              color: var(--darkBackground);
              padding-bottom: 50px;
            }
          }
        }
      }
      &-service {
        &-title {
          width: 100%;
        }
        &-items {
          width: 100%;
          gap: 60px;
          &-top {
            gap: 60px;
            &-item {
              width: 514px;
              height: auto;
              min-height: 343.6px;
              &-title {
                gap: 30px;
                height: 110px;
                &-img {
                  width: 82px;
                  height: 82px;
                }
              }
              p {
                width: 80%;
                margin: 24px auto;
              }
            }
          }
          &-bottom {
            width: 100%;
            gap: 60px;

            &-item {
              width: 514px;
              height: auto;
              min-height: 300px;

              &-title {
                gap: 30px;
                height: 110px;
                &-img {
                  width: 82px;
                  height: 82px;
                }
              }
              p {
                width: 80%;
                margin: 24px auto;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutHome {
    &__content {
      &-title {
        height: auto;
        padding-bottom: 84px;
        h2 {
          font-size: 25px;
          padding: 50px 0 0 150px;
        }
      }
      &-whoWeAre {
        h2 {
          margin-bottom: 40px;
        }
        p {
          margin-top: 10px;
          font-size: 24px;
        }
        &-box {
          flex-direction: column;
          p {
            margin-top: 30px;
            font-size: 24px;
            width: 80%;
          }
          img {
            height: 225px;
          }
        }
        &-activity {
          gap: 26px;
          width: 80%;
          height: auto;
          margin: 20px auto;
          img {
            width: 478px;
          }
          &-text {
            transform: skew(15deg);
            text-align: center;
            p {
              margin-top: 20px;
              font-size: 24px;
              width: 473px;
              padding-bottom: 50px;
            }
          }
        }
        &-achievements {
          height: auto;
          margin-top: 50px;
          &-box {
            width: inherit;
            justify-content: center;
            &-left {
              p {
                width: 100%;
                font-size: 22px;
                text-align: center;
                color: var(--darkBackground);
                padding-bottom: 50px;
              }
            }
          }
        }
        &-service {
          &-title {
            width: 100%;
          }
          &-items {
            width: 100%;
            gap: 60px;
            &-top {
              gap: 60px;
              &-item {
                width: 514px;
                height: auto;
                min-height: 343.6px;
                &-title {
                  gap: 30px;
                  height: 110px;
                  &-img {
                    width: 82px;
                    height: 82px;
                  }
                }
                p {
                  width: 80%;
                  margin: 24px auto;
                }
              }
            }
            &-bottom {
              gap: 30px;
              &-center {
                img {
                  display: none;
                }
              }
              &-item {
                width: 514px;
                height: auto;
                min-height: 300px;

                &-title {
                  gap: 30px;
                  height: 110px;
                  &-img {
                    width: 82px;
                    height: 82px;
                  }
                }
                p {
                  width: 80%;
                  margin: 24px auto;
                }
              }
            }
          }
        }
      }
      &-activity {
        &-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
          height: fit-content;
          padding-bottom: 30px;
          transform: skew(0deg);
          img {
            display: none;
          }

          &-text {
            // transform: skew(-10deg);
            h2 {
              // transform: skew(-10deg);
              transform: skew(-10deg);
            }
            p {
              font-size: 20px;
              max-width: 80%;
              margin: 0;

              transform: skew(-10deg);
              // transform: skew(-10deg);
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 25px;
              }
            }
            p {
              width: 90%;
              font-size: 15px;
              text-align: center;
              color: var(--darkBackground);
            }
          }
          &-right {
            img {
              display: none;
            }
          }
        }
      }

      &-service {
        &-title {
          margin: 80px auto 0 auto;
          width: 80%;
          h2 {
            font-size: 30px;
          }
          button {
            width: 200px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .aboutHome {
    &__content {
      &-title {
        height: auto;
        padding-bottom: 84px;
        h2 {
          text-align: center;
          padding: 20px;
        }
      }
      &-whoWeAre {
        h2 {
          margin-bottom: 40px;
        }
        p {
          margin-top: 10px;
          font-size: 24px;
        }
        &-box {
          flex-direction: column;
          p {
            margin-top: 30px;
            font-size: 24px;
            width: 80%;
          }
          img {
            height: 225px;
          }
        }
        &-activity {
          gap: 26px;
          width: 80%;
          height: auto;
          margin: 20px auto;
          img {
            width: 478px;
          }
          &-text {
            transform: skew(15deg);
            text-align: center;
            p {
              margin-top: 20px;
              font-size: 24px;
              width: 473px;
              padding-bottom: 50px;
            }
          }
        }
        &-achievements {
          height: auto;
          margin-top: 50px;
          &-box {
            width: inherit;
            justify-content: center;
            &-left {
              p {
                width: 100%;
                font-size: 22px;
                text-align: center;
                color: var(--darkBackground);
                padding-bottom: 50px;
              }
            }
          }
        }
        &-service {
          &-title {
            width: 100%;
          }
          &-items {
            width: 100%;
            gap: 60px;
            &-top {
              gap: 60px;
              &-item {
                width: 514px;
                height: auto;
                min-height: 343.6px;
                &-title {
                  gap: 30px;
                  height: 110px;
                  &-img {
                    width: 82px;
                    height: 82px;
                  }
                }
                p {
                  width: 80%;
                  margin: 24px auto;
                }
              }
            }
            &-bottom {
              gap: 30px;
              &-center {
                img {
                  display: none;
                }
              }
              &-item {
                width: 514px;
                height: auto;
                min-height: 300px;

                &-title {
                  gap: 30px;
                  height: 110px;
                  &-img {
                    width: 82px;
                    height: 82px;
                  }
                }
                p {
                  width: 80%;
                  margin: 24px auto;
                }
              }
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 25px;
              }
            }
            p {
              width: 320px;
              font-size: 15px;
              text-align: center;
              color: var(--darkBackground);
            }
          }
          &-right {
            img {
              display: none;
            }
          }
        }
      }
      &-service {
        &-title {
          flex-direction: column;
          margin: 80px auto 0 auto;
          width: 80%;
          h2 {
            font-size: 25px;
          }
          button {
            margin-top: 20px;
            width: 200px;
          }
        }
        &-items {
          &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            &-item {
              width: 100%;
              height: auto;
            }
            &-center {
              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
