.aboutHome {
  &__content {
    width: 100%;
    // max-width: 1730px;
    margin: 134px auto 0;
    background-color: #eee9e9;

    &-title {
      background: url(../../../public/images/truckBackground.jpeg) no-repeat
        center;
      background-size: 106%;
      height: 332px;

      h2 {
        color: var(--textColor);
        padding: 134px 0 0 200px;
        font-size: 70px;
        text-transform: uppercase;
      }
    }
    &-whoWeAre {
      h2 {
        margin: 38px 0;
        text-align: center;
        color: var(--mainColor);
        font-size: 40px;
      }
      p {
        margin: 30px auto;
        width: 100%;
        max-width: 1474px;
        font-size: 27px;
        text-align: justify;
        hyphens: auto;
        word-break: break-word;
      }
      &-box {
        display: flex;
        p {
          width: 744px;
          text-align: justify;
          font-size: 27px;
          margin-top: 80px;
        }
        img {
          height: 425px;
          margin-top: -80px;
        }
      }
    }
    &-activity {
      width: 100%;
      height: auto;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      margin-top: 50px;
      &-box {
        background: url(../../../public/images/abouthome_container.png)
          no-repeat center;
        display: flex;

        height: 748px;
        img {
          width: 692px;
          height: auto;
          border-top-left-radius: 200px;
        }
        &-text {
          text-align: justify;
          hyphens: auto;
          word-break: break-word;
          display: flex;
          flex-direction: column;
          align-items: center;

          flex: 1;
          h2 {
            margin-top: 122px;
            font-size: 45px;
            color: var(--mainColor);
            font-weight: 600;
          }
          p {
            margin-top: 64px;
            width: 66%;
            max-width: 95%;
            font-size: 28px;
            // margin-left: 80px;
          }
        }
      }
    }
    &-achievements {
      background: url(../../../public/images/truck_logistic.png) no-repeat
        center;
      background-size: cover;
      overflow-y: hidden;
      width: 100%;
      border-radius: 151px 38px 109px 30px;
      display: flex;
      justify-content: center;
      margin-top: 74px;
      &-box {
        width: 1338px;
        margin-top: 60px;
        &-left {
          &-title {
            h2 {
              font-size: 40px;
              color: var(--mainColor);
              margin-bottom: 20px;
            }
          }
          p {
            font-size: 28px;
            text-align: justify;
            color: var(--darkBackground);
          }
        }
        &-right {
          display: flex;
          gap: 82px;
          img {
            width: 640px;
            border-radius: 64px;
            margin-top: 38px;
          }
        }
      }
    }
  }
}
@media (max-width: 1600px) {
  .aboutHome {
    &__content {
      &-title {
        h2 {
          font-size: 40px;
        }
      }
      &-whoWeAre {
        h2 {
          font-size: 32px;
        }
        p {
          width: 90%;
          font-size: 24px;
        }
        &-box {
          align-items: center;
          p {
            font-size: 24px;
            width: 40%;
            text-align: left;
          }
          img {
            width: 50%;
            margin-top: 5px;
          }
        }
      }
      &-activity {
        &-box {
          height: 500px;
          img {
            width: 600px;
          }
          &-text {
            h2 {
              font-size: 36px;
              margin: 40px;
            }
            p {
              font-size: 24px;
              width: 80%;
              margin: 0;
              text-align: left;
            }
          }
        }
      }
      &-achievements {
        &-box {
          &-left {
            width: 90%;
            margin: 0 auto;

            &-title {
              h2 {
                font-size: 36px;
              }
            }
            p {
              font-size: 24px;
            }
          }
          &-right {
            padding: 0 80px;

            img {
              width: 500px;
              margin: 38px auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .aboutHome {
    &__content {
      &-title {
        h2 {
          font-size: 36px;
        }
      }
      &-whoWeAre {
        p {
          width: 90%;
          font-size: 22px;
        }
        &-box {
          p {
            width: 40%;
            font-size: 22px;
          }
          img {
            width: 50%;
            margin-top: 5px;
          }
        }
      }
      &-activity {
        &-box {
          height: 460px;
          img {
            width: 492px;
          }
          &-text {
            h2 {
              font-size: 34px;
              overflow-y: hidden;
            }
            p {
              font-size: 22px;
              max-width: 80%;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            display: flex;
            flex-direction: column;
            p {
              font-size: 18px;
            }
          }
          &-right {
            padding: 20px;

            img {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1160px) {
  .aboutHome {
    &__content {
      &-activity {
        &-box {
          border-top-left-radius: 70px;
          border-bottom-right-radius: 70px;

          img {
            display: none;
          }

          &-text {
            p {
              margin: 10px 0 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .aboutHome {
    &__content {
      &-title {
        height: auto;
        padding-bottom: 84px;
        h2 {
          font-size: 25px;
          padding: 50px 0 0 150px;
        }
      }
      &-whoWeAre {
        p {
          font-size: 20px;
        }
        &-box {
          flex-direction: column;
          p {
            margin: 0 auto;
            font-size: 20px;
            width: 90%;
            text-align: justify;
          }
          img {
            height: 250px;
          }
        }
      }
      &-activity {
        &-box {
          height: 560px;

          img {
            // display: none;
          }

          &-text {
            h2 {
            }
            p {
              font-size: 19px;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 22px;
              }
            }
            p {
              font-size: 16px;
            }
          }
          &-right {
            flex-wrap: wrap;
            padding: 0;
            gap: 0;
            width: 340px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .aboutHome {
    &__content {
      &-title {
        width: 100%;
        height: auto;
        padding-bottom: 50px;

        h2 {
          text-align: center;
          padding: 50px 0;
        }
      }
      &-whoWeAre {
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
        &-box {
          p {
            width: 90%;
            padding: 0;
            text-align: center;
            font-size: 16px;
          }
          img {
            width: 50%;
          }
        }
      }
      &-activity {
        &-box {
          height: 480px;

          &-text {
            width: 90%;

            h2 {
              font-size: 24px;
              margin: 0;
              padding: 20px 0;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
      &-achievements {
        &-box {
          width: 90%;
          &-left {
            &-title {
              h2 {
                font-size: 30px;
              }
            }
          }
          &-right {
            width: 240px;
          }
        }
      }
    }
  }
}
