.Service {
  width: 100%;
  background: url("../../../public/images/vector.svg") no-repeat;
  margin: 0px auto;
  overflow-y: hidden;
  &__content {
    height: auto;
    margin: 0 6.75rem;
    padding: 118px 0 0 0;
    &-title {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 74px;
      h2 {
        font-size: 3.375rem;
        color: var(--mainColor);
      }
      button {
        width: 298px;
       
      }
    }
    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4.875rem;
      padding-bottom: 100px;

      &-card {
        width: 27.625rem;
        height: 25.625rem;
        background-color: var(--cardsBackground);
        border-radius: 18px;

        p {
          width: 22.875rem;
          font-size: 12px;
          color: var(--lightTextColor);
          margin: 0 46px;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          margin: 0 46px;
          span {
            width: 4.3rem;
            height: 4.3rem;
            border-radius: 50%;
            background-color: var(--iconBackground);
            margin-top: 12px;
            margin-bottom: 12px;

            > img {
              margin: 12px 0 0 12px;
              width:38px;
              
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .Service {
    margin-top: 20px;
    &__content {
      margin: 0 3rem;
      &-title {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        h2 {
          font-size: 44px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Service {
    &__content {
      margin-top: -20px;
      &-title {
        h2 {
          font-size: 40px;
        }
        button{
          width: 220px;
        }
      }
      &-cards {
        &-card {
          width: 20rem;
          img {
            width: inherit;
          }
          p {
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Service {
    &__content {
      margin-top: -60px;
      &-title {
        h2 {
          font-size: 32px;
        }
        button{
          width: 160px;
          font-size: 14px;
         
        }
      }
      &-cards {
        gap: 28px;
       
        &-card {
          width: 20rem;
          height: 22rem;
         
          > div{
            width: 230px;
           
            gap: 10px;
          }
           img {
            width: inherit;
         
          }
          span{
           
            img{
       padding-left: 2px;
            }
          }
          h3{
            width: 160px;
            font-size: 14px;
          }
          
          p {
            width: 240px;
          }
  
        }
      }
    }
  }
}
