.Service {
  width: 100%;
  background: url("../../../public/images/vector.svg") center;
  background-size: cover;
  overflow-y: hidden;
  // background-color: var(--iconBackground);
  background-color: rgba(217, 217, 217, 0.55);

  @media (max-width: 768px) {
    background: none;
    background-color: var(--iconBackground);
  }
  &__content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 118px 0;

    &-title {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: end;
      padding: 0 20px;
      margin: 0 auto 74px;

      h2 {
        font-size: 48px;
        font-weight: bold;
        color: var(--mainColor);
      }
      button {
        width: 170px;
        font-weight: bold;
      }
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27.7rem, 1fr));
      gap: 48px;
      max-width: calc(5 * (27.7rem + 3rem));
      margin: 0 auto;

      @media (max-width: 1586px) {
        max-width: calc(2 * (27.7rem + 3rem));
      }
      @media (max-width: 1040px) {
        display: flex;
        flex-direction: column;
      }
      &-card {
        width: 444px;
        background-color: var(--cardsBackground);
        border-radius: 18px;
        margin: 0 auto;

        &-img {
          width: 444px;
          height: 230px;
          border-top-left-radius: 77px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 77px;
          border-bottom-left-radius: 13px;
        }

        p {
          width: 90%;
          font-size: 12px;
          color: var(--lightTextColor);
          margin: 0 auto 20px;
          hyphens: auto;
          word-break: break-word;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 0 0 0 20px;
          width: 100%;
          height: 90px;
          h3 {
            width: 80%;
            font-size: 18px;
            font-weight: bold;
            color: var(--darkTextColor);
          }

          span {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background-color: var(--iconBackground);
            > img {
           
              margin: 14px 0 0 15px;
              width: 30px;
           
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .Service {
    &__content {
      &-title {
        padding: 0;
        gap: 20px;
        h2 {
          font-size: 2.6rem;
        }
      }
    }
  }
}
@media (max-width: 1040px) {
  .Service {
    &__content {
      &-cards {
        &-card {
          max-width: 90%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Service {
    &__content {
      padding: 80px 0;
      &-title {
        padding: 0;
        gap: 20px;
        h2 {
          font-size: 28px;
        }
        button {
          font-size: 14px;
          height: 40px;
          width: 150px;
        }
      }
      
    }
  }
}
@media (max-width: 550px) {
  .Service {
    &__content {
      width: 100%;
      &-title {
        width: 90%;
            h2 {
              font-size: 28px;
            }
            button {
              font-size: 13px;
              height: 32px;
            }
          } 
      &-cards {
        &-card {
          width: 420px;
          height: auto;
          &-img {
            width: 420px;
          }
          p {
            padding-bottom: 20px;
          }
  
          > div {
            h3 {
              width: 80%;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 465px) {
  .Service {
    &__content {
          
      &-cards {
        &-card {
          width: 400px;
          height: auto;
          &-img {
            width: 100%;
            border-bottom-right-radius: 90px;

          }
          p {
            padding-bottom: 40px;
          }
          > div {
            h3 {
              width: 80%;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .Service {
    &__content {
      &-cards {
        &-card {
          &-img {
          }
          p {
            padding-bottom: 30px;
          }
          > div {
            h3 {
              font-size: 16px;
            }
            span {
              width: 50px;
              height: 50px;
              > img {
                margin: 14px 0 0 12px;
                width: 26px;
              }
            }
          }
        }
      }
    }
  }
}