.Service {
  width: 100%;
  background: url("../../../public/images/vector.svg") center;
  background-size: cover;
  overflow-y: hidden;
  background-color: #f2eff2;
  &__content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 118px 0;
    &-title {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin: 0 auto 74px;
      h2 {
        font-size: 3rem;
        color: var(--mainColor);
      }
      button {
        width: 170px;
      }
    }
    &-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27.7rem, 1fr));
      gap: 3rem;
      max-width: calc(5 * (27.7rem + 3rem));
      margin: 0 auto;
      @media (max-width: 1586px) {
        max-width: calc(2 * (27.7rem + 3rem));
      }
      @media (max-width: 1040px) {
        display: flex;
        flex-direction: column;
      }
      &-card {
        width: 27.7rem;
        height: 28rem;
        background-color: var(--cardsBackground);
        border-radius: 18px;
        margin: 0 auto;

        p {
          width: 23rem;
          font-size: 12px;
          color: var(--lightTextColor);
          margin: 0 auto;
        }
        h3 {
          width: 280px !important;
          font-size: 22px;
        }
        > div {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin: 0 40px;
          width: 400px;
          height: 90px;
          h3 {
            width: 80%;
            font-size: 20px;
          }

          span {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            background-color: var(--iconBackground);
            > img {
              margin: 14px 0 0 14px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .Service {
    // margin-top: 20px;
    &__content {
      &-title {
        h2 {
          font-size: 2.6rem;
        }
      }
    }
  }
}
@media (max-width: 1040px) {
  .Service {
    &__content {
      &-cards {
        &-card {
          max-width: 90%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Service {
    &__content {
      &-title {
        gap: 20px;

        justify-content: start;
        h2 {
          font-size: 32px;
        }
        button {
          width: 140px;
        }
      }
      &-cards {
        gap: 30px;
        height: auto;
        &-card {
          gap: 10px;
          height: 100%;

          & > div {
            width: 85%;
            margin: 0px auto;
            gap: 10px;
            padding: 0 10px;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
            }
            h3 {
              width: 80%;
              font-size: 18px;
            }
            img {
              margin: 0 !important;
            }
          }
          img {
            width: inherit;
          }
          p {
            width: 80%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Service {
    &__content {
      &-title {
        h2 {
          font-size: 28px;
        }
        button {
          font-size: 14px;
        }
      }
      &-cards {
        gap: 20px;
        &-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          > div {
            h3 {
              font-size: 16px;
            }
            span {
              min-width: 40px !important;
              height: 40px !important;
              > img {
                width: 25px;
                height: 25px;
              }
            }
          }
          img {
            width: inherit;
          }
          p {
            width: 82%;
            margin-top: -10px;
          }
        }
      }
    }
  }
}
