.Service {
  width: 100%;
  background: url("../../../public/images/vector.svg") no-repeat center;
  background-size: cover;
  margin: 100px auto 0;
  overflow-y: hidden;
  &__content {
    height: auto;
    margin: 0 6.75rem;
    padding: 118px 0 0 0;

    &-title {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 74px;
      h2 {
        font-size: 3.375rem;
        color: var(--mainColor);
      }
      button {
        width: 298px;
      }
    }
    &-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4.875rem;
      padding-bottom: 100px;

      &-card {
        width: 27.625rem;
        height: 25.625rem;
        background-color: var(--cardsBackground);
        border-radius: 18px;

        p {
          width: 22.875rem;
          font-size: 12px;
          color: var(--lightTextColor);
          margin: 0 46px;
        }
        h3 {
          width: 250px;
          font-size: 22px;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin: 0 40px;
          width: 400px;
          height: 100px;

          span {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background-color: var(--iconBackground);

            margin-top: 12px;
            margin-bottom: 12px;

            > img {
              margin: 14px 0 0 14px;
              width: 32px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .Service {
    margin-top: 20px;
    &__content {
      margin: 0 3rem;
      &-title {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        h2 {
          font-size: 44px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Service {
   
    &__content {
 margin-bottom: -100px;
      margin-top: -20px;
      &-title {
        h2 {
          font-size: 40px;
        }
        button {
          width: 220px;
        }
      }
      &-cards {
        &-card {
          width: 20rem;
          gap: 10px;
          & > div {
            margin: 0px !important;
            gap: 10px;
            padding: 0 10px;
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
            }
            h3 {
              width: 50%;
              font-size: 13px;
            }
            img {
              margin: 0 !important;
              padding: 0 !important;
            }
          }
          img {
            width: inherit;
          }
          p {
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Service {

    
    &__content {
      // padding: 134px 0;
      border: 2px solid red;
      margin-top: -80px;
      // margin-bottom: -200px;
      &-title {
        h2 {
          font-size: 32px;
        }
        button {
          width: 160px;
          font-size: 14px;
        }
      }
      &-cards {
        gap: 20px;

        &-card {
          width: 19rem;
          height: 25rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          > div {
            width: 220px;
            gap: 10px;
            margin-left: 6px;
          }
          img {
            width: inherit;
          }
          span {
            img {
              padding-left: 2px;
            }
          }
          h3 {
            width: 80px;
            font-size: 14px;
          }

          p {
            width: 150px;
          }
        }
      }
    }
  }
}
