.Service {
  width: 100%;
  background: url("./images/vector.svg") no-repeat;
  margin: 0px auto;
  &__content {
    min-height: 80rem;
    margin: 0 108px auto;
    padding-top: 100px;

    &-title {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 74px;
      h2 {
        font-size: 3.375rem;
        color: var(--mainColor);
      }
      button {
        width: 298px;
       
      }
    }
    &-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4.875rem;
   

      &-card {
        width: 27.625rem;
        height: 26.625rem;
        background-color: var(--cardsBackground);
        border-radius: 18px;

        p {
          width: 366px;
          font-size: 12px;
          color: var(--lightTextColor);
          margin: 0 46px;
        }

        > div {
          display: flex;
          align-items: center;
          gap: 24px;
          margin: 0 46px;
          span {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-color: var(--iconBackground);
            margin-top: 12px;
            margin-bottom: 12px;

            > img {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

