.ServicesHome {
  width: 100%;
  // max-width: 1730px;
  background-color: #F2EFF2;
  margin: 80px auto 0;

  .result{
    display: none;
  }
  .resultThree {
    max-width: 1170px;
      height: 242px;
    margin: 0 auto;
    background-color: var(--iconBackground);
    padding: 20px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -60px;
    position: relative;
    margin-top: 40px;
  
  
    img {
      position: absolute;
      // right: -2px;
      bottom: 0;
  
    height: 14px;
    width: 100%;
    pointer-events: none;
    user-select: none;
    }
  
    ul {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 44px;
      li {
        font-size: 70px;
        color: var(--mainColor);
        list-style: none;
        text-align: center;
        p {
          font-size: 18px;
          color: #152430;
          font-weight: 700;
        }
      }
    }
  }
  &__container {
    
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20%;
    color: var(--textColor);
    background: url("../../../public/Services/serviceTitle.jpg") no-repeat
      center;
      background-size:106%;
    h2 {
      font-size: 6.25rem;
      line-height: 200px;
    }
    @media (max-width: 1200px) {
      h2 {
        font-size: 45px;
        line-height: 100px;
      }
    }
    @media (max-width: 490px) {
      h2 {
        font-size: 30px;
        line-height: 100px;
      }
    }
    padding: 12%;
  }
  &__content {
    width: 1420px;
    margin: 0 auto;
    &-block {
      margin-top: 126px;
      margin-bottom: 180px;
      &-box {
        display: flex;
        height: 800px;
        position: relative;
        &-Left {
          width: 770px;
          background: url("../../../public/Services/transportDark.jpg")
            no-repeat center;
          z-index: 0;
          border-radius: 132px 0 0 32px;
        }

        &-Right {
          width: 770px;
          background: url("../../../public/Services/transportLight.jpg")
            no-repeat center;
          height: 800px;
          position: absolute;
          left: 650px;
          z-index: 1;
          padding: 50px;
          border-radius: 134px 25px 134px 28px;

          p {
            font-size: 22px;
            color: var(--darkTextColor);
            text-align: justify;

            
          }
          h2 {
            text-align: center;
            margin-bottom: 36px;
            font-size: 34px;
          }
        }
      }


      




      @media (max-width: 1420px) {
        margin-top: 100px;
        margin-bottom: 150px;
        &-box {
          &-Left {
            width: 50%;
          }

          &-Right {
            width: 750px;
            left: 25%;
            padding: 40px;
            p {
              font-size: 22px;
              width: 90%;
              margin-left: 10px;
              
            }
            h2 {
              margin-bottom: 30px;
              font-size: 32px;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        margin-top: 100px;
        margin-bottom: 100px;
        &-box {
          flex-direction: column;
          position: static;
          align-items: center;
          
          height: 1000px;
          &-Left {
            width: 760px;
            height: 400px;
            position: static;

            border-radius: 134px 25px 0 0;
          }
          &-Right {
            position: static;
            width: 760px;
            left: 25%;
            padding: 15px 20px;
            border-radius: 0 0 25px 25px;

            p {
              font-size: 22px;
              width: 90%;
              margin: 0 auto;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 32px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        &-box {
          height: 900px;
          width: 90%;
          margin: 0 auto;
          &-Left {
            width: 90% !important;
            height: 300px;
    
          }
          &-Right {
            position: static;
            width: 90% !important;
            padding: 2%;
            left: 0%;
            p {
              font-size: 16px;
              width: 97%;
              margin: 0 auto;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 24px;
            }
          }
        }
      }
      @media (max-width: 490px) {
        &-box {
          height: 800px !important;
          width: 98% !important;
          &-Left {
            width: 98% !important;
            height: 250px;
          }
          &-Right {
            position: static;
            width: 98% !important;
            padding: 2%;
            p {
              font-size: 14px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 20px;
            }
            ul {
              font-size: 16px;
            }
          }
        }
      }
    }

    &-blockTwo {
      margin-top: 126px;
      margin-bottom: 180px;
      &-box {
        display: flex;
        height: 800px;
        position: relative;
        &-Right {
          width: 770px;
          background: url("../../../public/Services/transport2Dark.jpg")
            no-repeat center;
          z-index: 0;
          border-radius: 132px 0 0 32px;

        }

        &-Left {
          width: 770px;
          background: url("../../../public/Services/transport2Light.jpg")
            no-repeat center;
          height: 800px;
          text-align: justify;
          position: absolute;
          left: 650px;
          z-index: 1;
          padding: 30px 45px 0px;
          border-radius: 134px 25px 134px 28px;
          p {
            font-size: 22px;
            color: var(--darkTextColor);
          }
          h2 {
            text-align: center;
            font-size: 34px;
               margin-bottom: 36px;
          }
        }
      }
      @media (max-width: 1420px) {
        margin-top: 100px;
        margin-bottom: 150px;
        &-box {
          &-Right {
            width: 50%;
          }

          &-Left {
            width: 750px;
            left: 25%;
            padding: 10px 15px;
            margin-left: 8px;
            p {
              font-size: 22px;
              width: 90%;
            }
            h2 {
              margin-bottom: 30px;
              font-size: 32px;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        margin-top: 100px;
        margin-bottom: 100px;
        &-box {
          flex-direction: column-reverse;

          position: static;
          align-items: center;
          height: 1000px;
          &-Right {
            width: 760px;
            height: 400px;
            position: static;

            border-radius: 134px 25px 0 0;
          }
          &-Left {
            position: static;
            width: 760px;
            left: 25%;
            padding: 15px 20px;
            border-radius: 0 0 25px 25px;
            p {
              font-size: 22px;
              width: 95%;
              text-align: justify;
              margin: 0 auto;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 30px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        &-box {
          height: 1050px;
          width: 90%;
          margin: 0 auto;
          &-Right {
            width: 90% !important;
            height: 300px;
          }
          &-Left {
            position: static;
            width: 90% !important;
            padding: 2%;
            p {
              font-size: 16px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 24px;
            }
          }
        }
      }
      @media (max-width: 490px) {
        &-box {
          height: 970px !important;
          width: 98% !important;
          &-Right {
            width: 98% !important;
            height: 250px;
          }
          &-Left {
            position: static;
            width: 98% !important;
            padding: 2%;
            p {
              font-size: 14px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 20px;
            }
            ul {
              font-size: 16px;
            }
          }
        }
      }
    }
    &-blockThree {
      margin-top: 126px;
      margin-bottom: 180px;
      &-box {
        display: flex;
        height: 800px;
        position: relative;
        &-Left {
          width: 770px;
          background: url("../../../public/Services/transport3Dark.jpg")
            no-repeat center;
          z-index: 0;
          border-radius: 132px 0 0 32px;
        }

        &-Right {
          width: 770px;
          background: url("../../../public/Services/transport3Light.jpg")
            no-repeat center;
          height: 800px;
          position: absolute;
          left: 650px;
          z-index: 1;
          padding: 50px;
          text-align: justify;
          border-radius: 134px 25px 134px 28px;
          p {
            font-size: 22px;
            color: var(--darkTextColor);
          }
          h2 {
            text-align: center;
            margin-bottom: 36px;
            font-size: 34px;
          }
        }
      }
      @media (max-width: 1420px) {
        margin-top: 100px;
        margin-bottom: 150px;
        &-box {
          &-Left {
            width: 50%;
          }

          &-Right {
            width: 750px;
            left: 25%;
            padding: 5%;
            p {
              font-size: 22px;
              width: 90%;
            }
            h2 {
              margin-bottom: 30px;
              font-size: 32px;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        margin-top: 100px;
        margin-bottom: 100px;
        &-box {
          flex-direction: column;
          position: static;
          align-items: center;
          height: 1000px;
          &-Left {
            width: 760px;
            height: 400px;
            position: static;
            border-radius: 134px 25px 0 0;
          }
          &-Right {
            position: static;
            width: 760px;
            left: 25%;
            padding: 5px 15px 20px 15px;
            border-radius: 0 0 25px 25px;
            p {
              font-size: 22px;
              width: 100%;
              margin: 0 auto;
            }
            h2 {
              margin-bottom: 15px;
              font-size: 30px;
            }
          }
        }
      }
      @media (max-width: 768px) {
        &-box {
          height: 1000px;
          width: 90%;
          margin: 0 auto;
          &-Left {
            width: 90% !important;
            height: 300px;
          }
          &-Right {
            position: static;
            width: 90% !important;
            padding: 2%;
            p {
              font-size: 16px;
              width: 97%;
              margin: 0 auto;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 24px;
            }
          }
        }
      }

      @media (max-width: 490px) {
        &-box {
          height: 900px;
          width: 98% !important;
          &-Left {
            width: 98% !important;
            height: 250px;
          }
          &-Right {
            position: static;
            width: 98% !important;
            padding: 2%;
            p {
              font-size: 14px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 20px;
            }
            ul {
              font-size: 16px;
            }
          }
        }
      }
    }
    &-blockFour {
      margin-top: 126px;
      margin-bottom: 180px;
      &-box {
        display: flex;
        height: 800px;
        position: relative;
        &-Right {
          width: 770px;
          background: url("../../../public/Services/transport4Dark.jpg")
            no-repeat center;
          z-index: 0;
          border-radius: 132px 0 0 32px;
        }

        &-Left {
          width: 770px;
          text-align: justify;
          background: url("../../../public/Services/transport4Light.jpg")
            no-repeat center;
          height: 800px;
          position: absolute;
          text-align: justify;
          left: 650px;
          z-index: 1;
          padding: 50px;
          border-radius: 134px 25px 134px 28px;
          p {
            font-size: 22px;
            color: var(--darkTextColor);
          }
          h2 {
            margin-bottom: 36px;
            font-size: 34px;
            text-align: center;
          }
          ul {
            // margin-left: 10px;
            font-size: 22px;
            color: var(--darkTextColor);
          }
        }
      }
      @media (max-width: 1420px) {
        margin-top: 100px;
        margin-bottom: 150px;
        &-box {
          &-Right {
            width: 50%;
          }

          &-Left {
            width: 750px;
            left: 25%;
            padding: 5% 6%;
            p {
              font-size: 22px;
              width: 90%;
            }
            h2 {
              margin-bottom: 30px;
              font-size: 30px;
              width: 90%;
            }
            ul {
              width: 90%;
            }
          }
        }
      }
      @media (max-width: 1080px) {
        margin-top: 100px;
        margin-bottom: 100px;
        &-box {
          flex-direction: column-reverse;

          position: static;
          align-items: center;
          height: 1000px;
          &-Right {
            width: 760px;
            height: 400px;
            position: static;
            border-radius: 134px 25px 0 0;
          }
          &-Left {
            position: static;
            width: 760px;
            left: 25%;
            padding: 5px 15px 20px 15px;
            border-radius: 0 0 25px 25px;
            margin: 0 auto;
            p {
              font-size: 22px;
              width: 90%;
            }
            h2 {
              margin-bottom: 15px;
              font-size: 28px;
              text-align: center;
            }
          }
        }
      }
      @media (max-width: 768px) {
        &-box {
          height: 900px;
          width: 90%;
          margin: 0 auto;
          &-Right {
            width: 90% !important;
            height: 300px;
          }
          &-Left {
            position: static;
            width: 90% !important;
            padding: 2%;
            p {
              font-size: 16px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 24px;
            }
            ul {
              font-size: 16px;
            }
          }
        }
      }
      @media (max-width: 490px) {
        &-box {
          height: 950px;
          width: 98% !important;
          &-Right {
            width: 98% !important;
            height: 250px;
          }
          &-Left {
            position: static;
            width: 98% !important;
            padding: 2%;
            p {
              font-size: 14px;
              width: 97%;
              margin: 0 auto;
              text-align: justify;
            }
            h2 {
              margin-bottom: 10px;
              font-size: 20px;
            }
            ul {
              font-size: 16px;
            }
          }
        }
      }
    }
    @media (max-width: 1420px) {
      width: 80%;
    }
    @media (max-width: 1080px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__address {
    width: 100%;
    height: 698px;
    margin: 0 auto;
    text-align: center;
    background: url("../../../public/images/vector.svg");
    padding: 76px;
    overflow-y: hidden;
    h2 {
      font-size: 36px;
      color: var(--mainColor);
      margin-bottom: 10px;
    }
    p {
      font-size: 24px;
      width: 90%;
      margin: 0 auto;
      color: var(--darkTextColor);
    }

    &-block {
      display: flex;
      justify-content: space-evenly;
      padding: 80px;
    }
    &-blockOne,
    &-blockTwo,
    &-blockThree {
      width: 294px;
      height: 306px;
      background-color: var(--darkTextColor);
      border-radius: 42px;
      font-size: 18px;

      img {
        margin-top: 38px;
      }
      h3 {
        color: var(--mainColor);
        font-size: 26px;
        margin-top: 26px;
        margin-bottom: 24px;
      }
      a {
        text-decoration: none;
        color: #d7d7d7;
      }
      p {
        color: #d7d7d7;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1450px) {
  .ServicesHome {
    &__choose {
      display: flex;
      align-items: center;
      &-left {
        margin: 120px 60px;
        p {
          max-width: 54rem;
          width: 75%;
        }
      }
      &-right {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 840px;
        margin-left: 0px;
        height: 700px;
        .one {
          left: 40px;
          top: 14px;
          z-index: 6;

          position: static;
        }
        .two {
          left: 220px;
          top: 154px;
          z-index: 5;
          position: static;
        }
        .three {
          left: 500px;
          top: 140px;
          z-index: 4;
          position: static;
        }
        .four {
          left: 390px;
          top: 320px;
          z-index: 3;
          position: static;
        }
        .five {
          left: 190px;
          bottom: 60px;
          z-index: 1;
          position: static;
        }

        .one,
        .two,
        .three,
        .four,
        .five {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          width: 170px;
          height: 170px;
          border-radius: 46px;
          background: #5a5a5a73;
          backdrop-filter: blur(16.039920806884766px);
          text-align: center;
          img {
            width: 74px;
          }
          p {
            font-size: 16px;
            color: var(--mainColor);
            width: 90%;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .ServicesHome {
    &__choose {
      height: 920px;
      &-left {
        margin: 120px 20px;
        h2 {
          font-size: 40px;
          color: var(--mainColor);
          margin-bottom: 46px;
        }
        p {
          max-width: 54rem;
          width: 100%;
          font-size: 20px;
          color: var(--textColor);
          text-transform: capitalize;
        }
      }
      &-right {
        gap: 10px;
        width: 840px;
        margin-left: 0px;
        height: 500px;
        .one {
          left: 40px;
          top: 14px;
          z-index: 6;

          position: static;
        }
        .two {
          left: 220px;
          top: 154px;
          z-index: 5;
          position: static;
        }
        .three {
          left: 500px;
          top: 140px;
          z-index: 4;
          position: static;
        }
        .four {
          left: 390px;
          top: 320px;
          z-index: 3;
          position: static;
        }
        .five {
          left: 190px;
          bottom: 60px;
          z-index: 1;
          position: static;
        }

        .one,
        .two,
        .three,
        .four,
        .five {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          width: 150px;
          height: 150px;
          border-radius: 46px;
          background: #5a5a5a73;
          backdrop-filter: blur(16.039920806884766px);
          text-align: center;
          img {
            width: 64px;
          }
          p {
            font-size: 16px;
            color: var(--mainColor);
            width: 90%;
          }
        }
      }
    }
    &__result {
      width: 100%; //

      &-one {
        h2 {
          font-size: 48px;
        }
      }
      &-two {
        gap: 35px;
      }
      hr {
        margin-top: 60px; //
      }
    }
    &__address {
      height: auto;
      padding: 76px 50px;
      h2 {
        margin-bottom: 10px;
      }

      &-block {
        justify-content: center;
        gap: 20px;
        padding: 10px 0;
      }
      &-blockOne,
      &-blockTwo,
      &-blockThree {
        width: 100%;
        height: 100%;
        max-width: 242px;
        min-height: 242px;
        img {
          margin-top: 20px;
        }
        h3 {
          font-size: 26px;
          margin: 10px;
        }
        a {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ServicesHome {
    &__choose {
      flex-direction: column;
      background: none;
      background-color: var(--darkTextColor);
      justify-content: start;
      height: auto;
      &-left {
        height: auto;
        margin: 30px 10px 20px 10px;
        width: 90%;
        h2 {
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      &-right {
        width: 100%;
        height: 230px;
        margin-bottom: 20px;
        .one,
        .two,
        .three,
        .four,
        .five {
          width: 100px;
          height: 100px;
          border-radius: 26px;
          gap: 5px;
          img {
            width: 34px;
            margin-top: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    &__result {
      height: 100px;
      &-one {
        gap: 8%;
        padding-top: 20px;
        h2 {
          font-size: 30px;
        }
      }
      &-two {
        gap: 2px;
        text-align: center;
      }
      hr {
        display: none;
      }
    }
    &__address {
      height: auto;
      padding: 76px 50px;

      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
      }

      &-block {
        flex-wrap: wrap;
      }
      &-blockOne,
      &-blockTwo,
      &-blockThree {
        img {
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .ServicesHome {
    &__choose {
      margin-top: 40px;
      &-left {
        margin: 30px 10px 20px 10px;

        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
      }
      &-right {
        width: 100%;
        height: 300px;
        gap: 5px;
        .one,
        .two,
        .three,
        .four,
        .five {
          width: 100px;
          height: 100px;
          border-radius: 26px;
          gap: 5px;
          img {
            width: 34px;
            margin-top: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    &__result {
      height: 120px;
      &-one {
        gap: 9%;
        padding-top: 20px;
        h2 {
          font-size: 20px;
        }
      }
      &-two {
        gap: 0px;
        text-align: center;
        font-size: 12px;
      }
      hr {
        display: none;
      }
    }
    &__address {
      padding: 20px;

      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
