.ServicesHome {
  background-color: #edeaea;
  margin: 134px auto 0;
  .result {
    display: none;
  }
  .resultServices {
    max-width: 1270px;
    margin: 0 auto;
    background: linear-gradient(175.9deg, #eee9e9 50.76%, #f3dbdc 158.93%);
    box-shadow: 0px 6.58px 14.27px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    margin-top: 40px;
    position: relative;
    border-bottom: 8px solid var(--mainColor);
    ul {
      display: flex;
      text-align: center;
      padding: 20px 0;
      gap: 70px;
      li {
        font-size: 68px;
        color: var(--mainColor);
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
        p {
          font-size: 18px;
          color: #152430;
          font-weight: 700;
        }
      }
    }
    @media (max-width: 1440px) {
      max-width: 90%;
      ul {
        padding: 0px 0;
        li {
          font-size: 60px;
          p {
            font-size: 17px;
          }
        }
      }
    }
    @media (max-width: 1240px) {
      ul {
        width: 90%;
        gap: 40px;
        li {
          font-size: 50px;
          p {
            font-size: 16px;
          }
        }
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__container {
    background: url("../../../public/Services/serviceTitle.jpg") no-repeat
      center;
    background-size: cover;
    height: 500px;
    h2 {
      color: var(--textColor);
      font-weight: bold;
      padding: 180px 0 0 200px;
      text-align: start;
      font-size: 70px;
      text-transform: uppercase;
    }
  }
  &__content {
    width: 82%;
    max-width: fit-content;
    margin: 154px auto 0;

    &-block {
      border: 1px solid red;
      margin-bottom: 154px;
      display: flex;
      .block-one-img {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transportDark.jpg");
      }
      .block-one-img2 {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transportLight.jpg");
        padding: 60px 60px 0;
      }
      .block-two-img {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport2Dark.jpg");
      }
      .block-two-img2 {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport2Light.jpg");
        padding: 30px 60px 0;
      }
      .block-three-img {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport3Dark.jpg");
      }
      .block-three-img2 {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport3Light.jpg");
        padding: 60px 60px 0;
      }
      .block-four-img {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport4Dark.jpg");
      }
      .block-four-img2 {
        width: 770px;
        height: 800px;
        background-image: url("./Services/transport4Light.jpg");
        padding: 60px 60px 0;
      }
      &-left {
        border-radius: 132px 0 0 32px;
      }
      &-right {
        border-radius: 134px 25px 134px 28px;
        width: 770px;
        height: 800px;
        margin-left: -120px;
        h2 {
          font-size: 34px;
          font-weight: 400;
          color: #171616;
          text-align: center;
          margin-bottom: 36px;
        }
        p {
          font-size: 20px;
          font-weight: 400;
          color: #152430;
          text-align: justify;
        }
        ul {
          li {
            font-size: 20px;

            font-weight: 400;
            color: #152430;
          }
        }
      }
      @media (max-width: 1620px) {
        .block-one-img2,
        .block-three-img2,
        .block-four-img2 {
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 19px;
          }
          ul {
            li {
              font-size: 19px;
            }
          }
        }

        .block-two-img2 {
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 18px;
          }
        }
      }
      @media (max-width: 1360px) {
        .block-one-img2,
        .block-three-img2,
        .block-four-img2 {
          h2 {
            font-size: 30px;
          }
          p {
            font-size: 16px;
          }
          ul {
            li {
              font-size: 16px;
            }
          }
        }
        .block-two-img2 {
          p {
            font-size: 15px;
          }
        }
      }
      @media (max-width: 1000px) {
        .block-one-img2,
        .block-three-img2,
        .block-four-img2 {
          margin-left: -160px;
          padding: 30px 40px 0;
          h2 {
            font-size: 28px;
            margin-bottom: 20px;
          }
          p {
            font-size: 15px;
          }
          ul {
            li {
              font-size: 15px;
            }
          }
        }

        .block-two-img2 {
          padding: 30px 40px 0;
          margin-left: -160px;
          h2 {
            font-size: 26px;
            margin-bottom: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1450px) {
  .ServicesHome {
    &__choose {
      display: flex;
      align-items: center;
      &-left {
        margin: 120px 60px;
        p {
          max-width: 54rem;
          width: 75%;
        }
      }
      &-right {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 840px;
        margin-left: 0px;
        height: 700px;
        .one {
          left: 40px;
          top: 14px;
          z-index: 6;

          position: static;
        }
        .two {
          left: 220px;
          top: 154px;
          z-index: 5;
          position: static;
        }
        .three {
          left: 500px;
          top: 140px;
          z-index: 4;
          position: static;
        }
        .four {
          left: 390px;
          top: 320px;
          z-index: 3;
          position: static;
        }
        .five {
          left: 190px;
          bottom: 60px;
          z-index: 1;
          position: static;
        }

        .one,
        .two,
        .three,
        .four,
        .five {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          width: 170px;
          height: 170px;
          border-radius: 46px;
          background: #5a5a5a73;
          backdrop-filter: blur(16.039920806884766px);
          text-align: center;
          img {
            width: 74px;
          }
          p {
            font-size: 16px;
            color: var(--mainColor);
            width: 90%;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .ServicesHome {
    &__choose {
      height: 920px;
      &-left {
        margin: 120px 20px;
        h2 {
          font-size: 40px;
          color: var(--mainColor);
          margin-bottom: 46px;
        }
        p {
          max-width: 54rem;
          width: 100%;
          font-size: 20px;
          color: var(--textColor);
          text-transform: capitalize;
        }
      }
      &-right {
        gap: 10px;
        width: 840px;
        margin-left: 0px;
        height: 500px;
        .one {
          left: 40px;
          top: 14px;
          z-index: 6;

          position: static;
        }
        .two {
          left: 220px;
          top: 154px;
          z-index: 5;
          position: static;
        }
        .three {
          left: 500px;
          top: 140px;
          z-index: 4;
          position: static;
        }
        .four {
          left: 390px;
          top: 320px;
          z-index: 3;
          position: static;
        }
        .five {
          left: 190px;
          bottom: 60px;
          z-index: 1;
          position: static;
        }

        .one,
        .two,
        .three,
        .four,
        .five {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 18px;
          width: 150px;
          height: 150px;
          border-radius: 46px;
          background: #5a5a5a73;
          backdrop-filter: blur(16.039920806884766px);
          text-align: center;
          img {
            width: 64px;
          }
          p {
            font-size: 16px;
            color: var(--mainColor);
            width: 90%;
          }
        }
      }
    }
    &__result {
      width: 100%; //

      &-one {
        h2 {
          font-size: 48px;
        }
      }
      &-two {
        gap: 35px;
      }
      hr {
        margin-top: 60px; //
      }
    }
    &__address {
      height: auto;
      padding: 76px 50px;
      h2 {
        margin-bottom: 10px;
      }

      &-block {
        justify-content: center;
        gap: 20px;
        padding: 10px 0;
      }
      &-blockOne,
      &-blockTwo,
      &-blockThree {
        width: 100%;
        height: 100%;
        max-width: 242px;
        min-height: 242px;
        img {
          margin-top: 20px;
        }
        h3 {
          font-size: 26px;
          margin: 10px;
        }
        a {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .ServicesHome {
    &__choose {
      flex-direction: column;
      background: none;
      background-color: var(--darkTextColor);
      justify-content: start;
      height: auto;
      &-left {
        height: auto;
        margin: 30px 10px 20px 10px;
        width: 90%;
        h2 {
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      &-right {
        width: 100%;
        height: 230px;
        margin-bottom: 20px;
        .one,
        .two,
        .three,
        .four,
        .five {
          width: 100px;
          height: 100px;
          border-radius: 26px;
          gap: 5px;
          img {
            width: 34px;
            margin-top: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    &__result {
      height: 100px;
      &-one {
        gap: 8%;
        padding-top: 20px;
        h2 {
          font-size: 30px;
        }
      }
      &-two {
        gap: 2px;
        text-align: center;
      }
      hr {
        display: none;
      }
    }
    &__address {
      height: auto;
      padding: 76px 50px;

      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 20px;
      }

      &-block {
        flex-wrap: wrap;
      }
      &-blockOne,
      &-blockTwo,
      &-blockThree {
        img {
          margin-top: 20px;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .ServicesHome {
    &__choose {
      margin-top: 40px;
      &-left {
        margin: 30px 10px 20px 10px;

        h2 {
          margin-bottom: 20px;
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
      }
      &-right {
        width: 100%;
        height: 300px;
        gap: 5px;
        .one,
        .two,
        .three,
        .four,
        .five {
          width: 100px;
          height: 100px;
          border-radius: 26px;
          gap: 5px;
          img {
            width: 34px;
            margin-top: 10px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    &__result {
      height: 120px;
      &-one {
        gap: 9%;
        padding-top: 20px;
        h2 {
          font-size: 20px;
        }
      }
      &-two {
        gap: 0px;
        text-align: center;
        font-size: 12px;
      }
      hr {
        display: none;
      }
    }
    &__address {
      padding: 20px;

      h2 {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .ServicesHome {
    &__content {
      &-title {
        height: 450px;
        h2 {
          font-size: 60px;
          padding: 180px 0 0 140px;
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .ServicesHome {
    &__container {
      height: 400px;
      h2 {
        font-size: 50px;
        padding: 160px 0 0 100px;
      }
    }
  }
}
@media (max-width: 768px) {
  .ServicesHome {
    &__container {
      height: 350px;
      h2 {
        font-size: 40px;
        padding: 140px 0 0 50px;
      }
    }
  }
}
@media (max-width: 490px) {
  .ServicesHome {
    &__container {
      h2 {
        font-size: 28px;
        padding: 140px 0 0 30px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 390px) {
  .ServicesHome {
    &__container {
      height: 250px;
      h2 {
        padding: 100px 0 0 15px;
      }
    }
  }
}

.ContactUsTwoService {
  background: url("../../../public//images/vector.svg");
  background-color: #f2eff2;
  &__content {
    text-align: center;
    margin-bottom: -40px;
    max-width: 1730px;
    margin: 0 auto;
    &-title {
      padding: 82px 0 92px 0;
      h2 {
        color: var(--mainColor);
        font-weight: bold;
        font-size: 37px;
        margin-bottom: 26px;
        width: 90%;
        margin: 0 auto 20px;
      }
      p {
        width: 80%;
        font-size: 23px;
        font-size: 23px;
        margin: 0 auto;
        color: var(--darkBackground);
        font-weight: bold;
      }
    }
    &-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 74px;
      padding-bottom: 155px;
      &-item {
        width: 293px;
        height: 306px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border-radius: 46px;
        background-color: var(--darkBackground);

        img {
          width: 74px;
          height: 74px;
        }
        h2 {
          color: var(--mainColor);
          font-weight: bold;
          font-size: 26px;
        }
        p {
          width: 90%;
          height: 51px;
          font-size: 18px;
          color: var(--textColor);
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 22px;
        }
      }
      &-items {
        gap: 54px;
        padding-bottom: 140px;
        &-item {
          width: 283px;
          height: 296px;
          border-radius: 44px;

          img {
            width: 74px;
            height: 74px;
          }
          h2 {
            font-size: 25px;
          }
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        h2 {
          font-size: 35px;
        }
        p {
          font-size: 21px;
        }
      }
      &-items {
        gap: 44px;
        padding-bottom: 120px;
        &-item {
          width: 273px;
          height: 286px;
          border-radius: 42px;

          img {
            width: 70px;
            height: 70px;
          }
          h2 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 925px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        padding: 72px 0 82px 0;

        h2 {
          font-size: 34px;
        }
        h2 {
          font-size: 34px;
        }
        p {
          font-size: 20px;
          font-size: 20px;
        }
      }
      &-items {
        gap: 24px;
        height: 360px;
        padding-bottom: 100px;
        &-item {
          width: 233px;
          height: 246px;
          border-radius: 40px;

          img {
            width: 60px;
            height: 60px;
          }
          h2 {
            font-size: 22px;
          }
          p {
            font-size: 14px;
          }
        }
        &-item {
          width: 233px;
          height: 246px;

          img {
            width: 60px;
            height: 60px;
          }
          h2 {
            font-size: 22px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        padding: 52px 0 62px 0;
        h2 {
          font-size: 33px;
        }
        p {
          font-size: 19px;
        }
      }
      &-items {
        gap: 14px;
        height: 300px;
        padding-bottom: 90px;
        &-item {
          width: 203px;
          height: 206px;
          border-radius: 38px;

          img {
            width: 50px;
            height: 50px;
          }
          h2 {
            font-size: 21px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        margin-top: 40px;
        padding: 32px 0 32px 0;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
        }
      }
      &-items {
        gap: 10px;
        height: 300px;
        padding-bottom: 80px;
        &-item {
          gap: 10px;
          width: 153px;
          height: 166px;
          border-radius: 36px;
          img {
            width: 40px;
            height: 40px;
            margin-top: 20px;
          }
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 590px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        p {
          color: var(--darkBackground);
          font-weight: normal;
        }
      }

      &-items {
        &-item {
          background-color: var(--darkBackground);
          backdrop-filter: blur(4px);
          img {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }
}
@media (max-width: 490px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        padding: 22px 0 22px 0;
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }
      &-items {
        gap: 8px;
        height: 300px;
        &-item {
          gap: 8px;
          width: 123px;
          height: 140px;
          border-radius: 30px;
          img {
            width: 34px;
          }
          h2 {
            font-size: 16px;
            height: 30px;
          }
          p {
            font-size: 8px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .ContactUsTwoService {
    &__content {
      &-title {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 12px;
        }
      }
      &-items {
        gap: 6px;
        height: 200px;
        padding-bottom: 40px;
        &-item {
          width: 93px;
          height: 106px;
          gap: 6px;
          border-radius: 20px;

          img {
            width: 30px;
            height: 30px;
          }
          h2 {
            font-size: 12px;
            min-height: fit-content;
          }
          p {
            font-size: 7px;
          }
        }
      }
    }
  }
}
