.Sliders {
  background-color: #d9d9d98c;
  background: url("../../../public//images/vector.svg") no-repeat;
  width: 100%;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 7.25rem;
    margin: 46px auto;
    h2 {
      font-size: 52px;
      color: var(--dartTextColor);
    }
    button {
      width: 11.875em;
      font-size: 14px;
      color: #fafafa;
      background-color: var(--darkBackground);
    }
  }

  div > img {
    width: 28rem;
  }
  .slick-slide {
    margin: 20px auto 0;
  }
  .slick-slide > div {
    overflow: hidden;
    max-width: 31.125rem;
    height: 32.875rem;
    font-size: 30px;
    color: var(--dartTextColor);
    background-color: rgb(209, 221, 235);
    margin: 0 auto;
    padding: 26px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 118px;

    h2 {
      width: 420px;
      font-size: 26px;
      line-height: 36px;
    }
    p {
      font-size: 14px;
      color: var(--dartTextColor);
    }
  }
  .slick-track {
    display: flex;
  }
  .slick-next {
    width: 100px;
    height: 100px;
    right: 720px;
  }
  .slick-prev {
    width: 100px;
    height: 100px;
    left: 720px;
  }
  .slick-next,
  .slick-prev {
    top: 640px;
    z-index: 10;
  }

  .slick-next::before,
  .slick-prev::before {
    font-size: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #a4bace;
    font-size: 42px;
  }
}
@media (max-width: 1590px) {
  .Sliders {
    .slick-next {
      right: 600px;
    }
    .slick-prev {
      left: 600px;
    }
  }
}
@media (max-width: 1500px) {
  .Sliders {
    gap: 30px;
    h2 {
      font-size: 26px;
      overflow-y: hidden;
    }
    button {
      width: 150px;
      font-size: 12px;
    }
    .slick-slide > div {
      max-width: 25rem;
      height: 32.875rem;

      h2 {
        width: 90%;
        font-size: 24px;
        margin: 0 auto;
      }
      img {
        margin: 20px auto;
        width: 22rem;
      }
    }
  }
}
@media (max-width: 1340px) {
  .Sliders {
    .slick-next {
      right: 500px;
    }
    .slick-prev {
      left: 500px;
    }
  }
}
@media (max-width: 1135px) {
  .Sliders {
    .slick-next {
      right: 300px;
    }
    .slick-prev {
      left: 300px;
    }
  }
}
@media (max-width: 768px) {
  .Sliders {
    .slick-next,
    .slick-prev {
      display: none !important;
    }
  }
}
@media (max-width: 430px) {
  .Sliders {
    gap: 20px;
    &__content {
      margin: 46px auto 0;
    }
    .slick-current {
      margin-top: -20px;
    }
    .slick-next,
    .slick-prev {
      display: none;
    }
    h2 {
      font-size: 18px;
      overflow-y: hidden;
    }
    button {
      width: 100px;
      font-size: 12px;
    }
    .slick-slide > div {
      max-width: 18rem;
      height: 27rem;
      margin: 50px auto;
      h2 {
        width: 90%;
        font-size: 16px;
      }
      img {
        margin: 20px auto;
        width: 16rem;
        overflow-y: hidden;
      }
    }
  }
}
