.Sliders {
  // background: rgba(217, 217, 217, 0.55);

  background: url("../../../public//images/vector.svg");
  // background-color: #f2eff2;
  background-color: rgba(217, 217, 217, 0.55);

  
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  @media (max-width: 768px) {
    background: none;
    background-color: #f2eff2;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
    height: 7.25rem;
    margin: 46px auto;

    h2 {
      font-size: 48px;
      font-weight: bold;
      color: var(--dartTextColor);
    }
    button {
      width: 180px;
      font-size: 16px;
      font-weight: bold;
      color: #fafafa;
      background-color: var(--darkBackground);
      margin-right: 30px;
    }
  }
  div{
    // border: 2px solid rgb(40, 153, 197);
    // padding: 0 40px;
  }
  div > img {
    margin-bottom: 23px;
  }

  .slick-slide {
    // margin: 24px auto 0;
    // border: 2px solid rgb(19, 231, 12);
    // padding: 40px;
    
  }
  // .slick-slide{
  //   border: 2px solid rgb(41, 6, 238);
  //   height: auto;
  // }
  .slick-slide > div {
    // border: 2px solid red;
    max-width: 522px;
    height: auto;
    // height: 520px;
    // font-size: 30px;
    color: var(--dartTextColor);
    background-color: rgb(209, 221, 235);
    margin: 0 auto;
    padding: 20px 18px 33px 20px;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 118px;
    overflow-y: hidden;
    img {
      // height: auto;
      // min-height: 289px;
      border-radius: 39px;
      // margin-left: 30px;
      margin: 0 auto 20px;
    }
    h2 {
      // width: 480px;
      height: 140px;
      font-size: 24px;
      // line-height: 36px;
      // margin: 0 auto 16px;
      font-weight: 500;

      margin-bottom: 10px;
      
    }
    p {
      font-size: 12px;
      font-weight: bold;
      color: var(--dartTextColor);
      text-decoration: underline;
      margin: 0 auto;

      // width: fit-content;
      // border: 2px solid red;
    }
    a {
      // list-style: none;
      color: var(--dartTextColor);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .button-all {
    display: none; // posmotrer vse 
    @media (max-width: 768px) {
      display: block;
      margin: -100px auto 50px;
      background-color: var(--darkBackground);
      font-weight: bold;
      font-size: 14px;
      height: 40px;
      width: 160px;
    }
  }
  .slick-track {
    display: flex;
    padding: 20px 0;
  }
  .slick-next {
    width: 100px;
    height: 100px;
    right: 720px;
  }
  .slick-prev {
    width: 100px;
    height: 100px;
    left: 720px;
  }
  .slick-next,
  .slick-prev {
    top: 640px;
    z-index: 10;
  }

  .slick-next::before,
  .slick-prev::before {
    color: #a4bace;
    font-size: 42px;
  }
}

@media (max-width: 1590px) {
  .Sliders {
    .slick-track {
      padding: 50px 0;
    }
    .slick-next {
      right: 600px;
    }
    .slick-prev {
      left: 600px;
    }
  }
}
@media (max-width: 1500px) {
  .Sliders {
    h2 {
      font-size: 24px;
    }
    button {
      width: 150px;
      font-size: 12px;
    }

    .slick-slide > div {
      // height: 32rem;

      h2 {
        width: 90%;
        font-size: 22px;
        margin: 0 auto;
      }
      img {
        // margin: 20px auto;
        // width: 22rem;
      }
    }
  }
}
@media (max-width: 1340px) {
  .Sliders {
    .slick-next {
      right: 500px;
    }
    .slick-prev {
      left: 500px;
    }
  }
}
@media (max-width: 1135px) {
  .Sliders {
    .slick-slide > div {
      width: 26rem;
      h2 {
        width: 90%;
        font-size: 20px;
        margin: 0 auto;
        // min-height: 141px;
        height: 140px;
        // border: 2px solid red;
      }
      img {
        // margin: 20px auto;
        // width: 22rem;
        // margin: 10px auto;
        // margin-bottom: 20px;
        // width: 90%;
        // height: auto;
      }
    }
    .slick-next {
      right: 300px;
    }
    .slick-prev {
      left: 300px;
    }
  }
}
@media (max-width: 880px) {
  .Sliders {
    .slick-slide > div {
      width: 23rem;
      h2 {
        font-size: 18px;
        margin: 0 auto;
      }
      img {
        width: 90%;
        // margin: 10px auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .slick-track {
    padding-top: 0 !important;
  }
  .button-all {
    font-size: 14px;
    height: 40px;
    width: 180px;
  }
  .Sliders {
    &__content {
      flex-wrap: wrap;
      // gap: 10px;
      margin: 20px auto 0;
      h2 {
        text-align: center;
        margin: 0 auto;
      }
      button {
        display: none;
      }
    }
    .slick-next,
    .slick-prev {
      display: none !important;
    }
    .slick-slide > div {
      // width: 30rem;
      width: 90%;
      h2 {
        width: 100%;
        font-size: 22px;
        // margin: 0 auto;
        // height: 80px !important;
        // border: 2px solid rgb(19, 9, 148);
        // padding: 0 0 20px 0;
        margin-bottom: 20px;
        height: auto;
      }
      img {
        // width: 380px;
        width: 90%;
        // margin: 10px auto;
      }
    }
  }
}

@media (max-width: 430px) {
  .button-all {
    font-size: 13px;
    height: 32px;
    width: 140px;
  }
  .Sliders {
    gap: 20px;
    &__content {
      margin: 46px auto 0;
      height: auto;
    }
    .slick-current {
      margin-top: -20px;
    }
    .slick-next,
    .slick-prev {
      display: none;
    }
    h2 {
      font-size: 28px;
    }
    button {
      width: 140px;
      font-size: 10px;
    }
    .slick-slide > div {
      max-width: 90%;
      // height: auto;
      margin: 50px auto;

      h2 {
        // width: 100%;
        // height: 100px;
        font-size: 18px;
        // border: 2px solid red;
        // height: 60px !important;

      }
      img {
        // margin: 10px auto;
        width: 100%;
        // min-height: auto;
        // overflow-y: hidden;
      }
    }
  }
}
