.About {
  background: url("../../../public/images/vector.svg");
  @media (max-width: 768px) {
    background: none;
    // background-color: var(--iconBackground);
    background-color: rgba(238, 233, 233, 1);
  }
  background-color: var(--iconBackground);
  &__content {
    display: flex;
    gap: 40px;
    max-width: 1730px;
    margin: 157px auto;
    &-image {
      width: 824px;
      overflow-y: hidden;
      img {
        border-top-right-radius: 130px;
        border-bottom-right-radius: 58px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0;

        width: 740px;
        height: 590px;
      }
    }
    &-text {
      width: 800px;
      padding: 0 40px 0 0;
      text-align: justify;
      h1 {
        font-size: 56px;
        font-weight: 700;
        color: var(--mainColor);
        margin: 40px 0;
        text-transform: uppercase;
      }
      h3 {
        font-size: 26px;
        color: var(--darkTextColor);
      }

      p {
        font-size: 22px;
        color: var(--lightTextColor);
        margin: 14px 0 74px;
      }

      button {
        width: 224px;
      }
    }
  }
  @media (max-width: 3000px) {
    .About {
      &__content {
        &-image {
          img {
            border-top-left-radius: 130px;
            border-bottom-left-radius: 58px;
          }
        }
      }
    }
  }
  @media (max-width: 1731px) {
    .About {
      &__content {
        &-image {
          img {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
  @media (max-width: 1600px) {
    .About {
      &__content {
        &-image {
          width: 784px;
          img {
            width: 680px;
            height: 550px;
          }
        }
        &-text {
          h1 {
            font-size: 52px;
            margin: 40px 0;
          }
          h3 {
            font-size: 24px;
          }

          p {
            font-size: 20px;
            margin: 14px 0 54px;
          }

          button {
            width: 220px;
            font-size: 17px;
          }
        }
      }
    }
  }
  @media (max-width: 1430px) {
    .About {
      &__content {
        &-image {
          width: 744px;
          img {
            width: 600px;
            height: 500px;
          }
        }
        &-text {
          h1 {
            font-size: 48px;
          }
          h3 {
            font-size: 22px;
          }
          p {
            width: 600px;
            font-size: 18px;
            margin: 14px 0 54px;
          }

          button {
            width: 216px;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 1310px) {
    .About {
      &__content {
        &-image {
          width: 704px;
          img {
            width: 520px;
            height: 450px;
          }
        }
        &-text {
          h1 {
            font-size: 44px;
            margin: 40px 0 30px;
          }
          h3 {
            font-size: 20px;
          }
          p {
            width: 600px;
            font-size: 18px;
            margin: 14px 0 44px;
          }

          button {
            width: 216px;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 1180px) {
    .About {
      &__content {
        &-image {
          width: 604px;
          img {
            width: 440px;
            height: 420px;
          }
        }
        &-text {
          h1 {
            font-size: 40px;
            margin: 40px 0 25px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            width: 600px;
            font-size: 16px;
            margin: 14px 0 34px;
          }

          button {
            width: 212px;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .About {
      &__content {
        &-image {
          width: 504px;
          img {
            width: 360px;
            height: 340px;
          }
        }
        &-text {
          h1 {
            font-size: 38px;
            margin: 20px 0 20px;
          }
          h3 {
            font-size: 18px;
          }
          p {
            width: 600px;
            font-size: 16px;
            margin: 14px 0 24px;
          }

          button {
            width: 208px;
            font-size: 15px;
          }
        }
      }
    }
  }
  @media (max-width: 1030px) {
    .About {
      &__content {
        margin: 127px auto;
        &-image {
          display: none;
        }
        &-text {
          width: 80%;
          margin: 0 auto;
          h1 {
            font-size: 38px;
            margin: 20px 0 20px;
          }
          h3 {
            font-size: 18px;
            width: 70%;
          }
          p {
            font-size: 16px;
            margin: 14px 0 24px;
            width: 70%;
          }

          button {
            width: 208px;
            font-size: 15px;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .About {
      &__content {
        margin: 70px auto;
        &-text {
          width: 80%;
          padding: 0 10px 0 0;
          h1 {
            font-size: 36px;
            margin: 20px 0 20px;
          }
          h3 {
            font-size: 17px;
            width: 90%;
          }
          p {
            font-size: 15px;
            margin: 14px 0 24px;
            width: 90%;
          }

          button {
            width: 180px;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .About {
      &__content {
        margin: 50px auto;
        &-text {
          width: 90%;
          padding: 0 10px 0 10px;
          h1 {
            font-size: 30px;
            margin: 20px 0 20px;
          }
          h3 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
          button {
            width: 160px;
            height: 36px;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (max-width: 390px) {
    .About {
      &__content {
        margin: 40px auto;

        &-text {
          h1 {
            font-size: 24px;
            margin: 20px 0 20px;
          }
          h3 {
            font-size: 14px;
            width: 100%;
          }
          p {
            font-size: 12px;
            width: 100%;
          }

          button {
            width: 140px;
            height: 32px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
