.About {
  width: 100%;
  margin: 0 auto;
  background: url("../../../public/images/vector.svg") no-repeat center;
  background-size: cover;
  background-color: var(--iconBackground);
  &__content {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 157px;
    &-image {
      width: 850px;
      height: 42rem;
      overflow-y: hidden;
      img {
        border-top-right-radius: 130px;
        border-bottom-right-radius: 58px;
      }
    }

    &-text {
      width: 51.25rem;
      height: 44.5rem;
      margin-top: 5rem;

      h1 {
        font-size: 3.5rem;
        font-weight: 400;
        color: var(--mainColor);
        margin-bottom: 5.625rem;
        text-transform: uppercase;
      }

      h3 {
        width: 44.375rem;
        font-size: 1.625rem;
        color: var(--darkTextColor);
        margin-bottom: 0.875rem;
      }

      p {
        width: 43.125rem;
        font-size: 1.375rem;
        color: var(--lightTextColor);
        margin-bottom: 4.625rem;
      }

      button {
        width: 14rem;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1590px) {
    .About {
      &__content {
        align-items: center;
        gap: 0;

        &-image {
          width: 800px;
          height: 42rem;
          overflow-y: hidden;
          img {
            width: 540px;
          }
        }
        &-text {
          h1 {
            margin-bottom: 20px;
          }

          h3 {
            width: 90%;
            font-size: 1.5em;
          }

          p {
            width: 80%;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  @media (max-width: 1240px) {
    &__content {
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      height: 30rem;
      &-image {
        display: none;
        img {
          width: 30rem;
          height: auto;
        }
      }

      &-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 0 0 20px;
        h1 {
          font-size: 3rem;
        }

        h3 {
          font-size: 1.5rem;
          width: 95% !important;
        }

        p {
          font-size: 1.25rem;
          width: 95% !important;
        }

        button {
          width: 13rem;
        }
      }
    }
  }
  @media (max-width: 850px) {
    &__content {
      height: 33rem;
    }
  }
  @media (max-width: 768px) {
    &__content {
      height: 43rem;
      &-image {
        img {
          display: none;
        }
      }
      &-text {
        width: 100%;
        height: fit-content;
        h1 {
          font-size: 2.25rem;
          margin-bottom: 10px;
          max-width: 100%;
        }

        h3 {
          font-size: 1.25rem;
          max-width: 100%;
          width: 100%;
        }

        p {
          font-size: 1.125rem;
          max-width: 100%;
          width: 100%;
          margin-bottom: 30px;
        }

        button {
          width: 10rem;
          margin-bottom: 50px;
          margin-top: 20px;
        }
      }
    }
  }

  @media (max-width: 390px) {
    &__content {
      margin-top: -80px;
      &-text {
        margin-top: 100px;
        h1 {
          font-size: 1.5rem;
        }
        h3 {
          font-size: 1.2rem !important;
        }
        p {
          font-size: 1rem;
        }
        button {
          font-size: 12px;
        }
      }
    }
  }
}
