.Card {
  background: url("../../../public/images/backgroundChoose.jpeg") no-repeat
    center;
  height: auto;
  &__content {
    text-align: center;
    &-title {
      padding: 140px 0 50px 0;
      h2 {
        color: var(--mainColor);
        font-size: 50px;
      }
      p {
        color: var(--textColor);
        font-size: 30px;
        width: 90%;
        margin: 26px auto 0;
      }
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding-bottom: 155px;
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
        width: 15rem;
        height: 15rem;
        background-color: #5a5a5a73;
        border-radius: 46px;
        img {
          margin-top: 35px;
        }
        p {
          color: var(--mainColor);
          height: 70px;
          font-size: 20px;
          padding: 0 10px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .Card {
    &__content {
      &-title {
        h2 {
          color: var(--mainColor);
          font-size: 44px;
        }
        p {
          color: var(--textColor);
          font-size: 26px;
          margin: 26px auto 0;
        }
      }
      &-items {
        gap: 1rem;
        &-item {
          width: 14rem;
          height: 14rem;
          background-color: #5a5a5a73;
          border-radius: 46px;
          img {
            margin-top: 35px;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .Card {
    &__content {
      &-title {
        h2 {
          color: var(--mainColor);
          font-size: 38px;
        }
        p {
          color: var(--textColor);
          font-size: 22px;
          width: 90%;
        }
      }
      &-items {
        gap: 1.5rem;
        &-item {
          width: 13rem;
          height: 13rem;

          p {
            color: var(--mainColor);
            height: 70px;
            font-size: 18px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Card {
    background: none;
    background-color: var(--darkBackground);
    padding: 20px;
    &__content {
      &-title {
        padding: 50px;

        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
          width: 90%;
        }
      }
      &-items {
        gap: 1rem;
        padding-bottom: 70px;
        &-item {
          width: 180px;
          height: 180px;
          img {
            width: 60px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 624px) {
  .Card {
    padding: 20px;
    &__content {
      &-title {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      &-items {
        gap: 1rem;
        &-item {
          width: 180px;
          height: 180px;
          img {
            width: 50px;
          }
          p {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Card {
    &__content {
      &-title {
        h2 {
          font-size: 2rem;
          padding: 10px;
        }
        p {
          font-size: 1rem;
        }
      }
      &-items {
        gap: 2rem;
        padding: 20px;
        &-item {
          width: 200px;
          height: 160px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
