.Card {
  background: url("../../../public/images/backgroundChoose.jpeg") no-repeat
    center;
  background-size: cover;
  &__content {
    text-align: center;
    &-title {
      padding: 140px 0 50px 0;
      h2 {
        color: var(--mainColor);
        font-size: 50px;
      }
      p {
        color: var(--textColor);
        font-size: 30px;
        width: 90%;
        margin: 26px auto 0;
      }
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      padding-bottom: 155px;
      &-item {
        width: 240px;
        height: 240px;
        background-color: rgba(90, 90, 90, 0.45);
        backdrop-filter: blur(4px);
        border-radius: 46px;
        img {
          margin: 35px 0 5px;
        }
        p {
          color: var(--mainColor);
          height: 70px;
          font-size: 20px;
          padding: 0 10px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .Card {
    &__content {
      &-title {
        padding: 120px 0 50px 0;
        h2 {
          font-size: 46px;
        }
        p {
          font-size: 28px;
        }
      }
      &-items {
        gap: 34px;
        padding-bottom: 135px;
        &-item {
          width: 210px;
          height: 210px;
          border-radius: 44px;
          img {
            width: 86px;
            margin-top: 30px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .Card {
    &__content {
      &-title {
        padding: 100px 0 50px 0;
        h2 {
          font-size: 42px;
        }
        p {
          font-size: 26px;
        }
      }
      &-items {
        gap: 28px;
        padding: 0 10px 135px;

        &-item {
          width: 200px;
          height: 200px;
          border-radius: 42px;
          img {
            width: 76px;
            margin-top: 30px;
          }
          p {
            font-size: 17px;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Card {
    &__content {
      &-title {
        padding: 80px 0 50px 0;
        h2 {
          font-size: 38px;
        }
        p {
          font-size: 24px;
        }
      }
      &-items {
        gap: 22px;
        padding: 0 10px 95px;

        &-item {
          width: 170px;
          height: 170px;
          border-radius: 40px;
          img {
            width: 56px;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .Card {
    &__content {
      &-title {
        padding: 60px 0 50px 0;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 22px;
        }
      }
      &-items {
        gap: 13px;
        padding: 0 10px 75px;

        &-item {
          width: 150px;
          height: 150px;
          border-radius: 34px;
          img {
            width: 36px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .Card {
    &__content {
      &-title {
        padding: 60px 0 50px 0;
        h2 {
          font-size: 34px;
        }
        p {
          font-size: 20px;
        }
      }
      &-items {
        gap: 12px;
        padding: 0 10px 55px;

        &-item {
          width: 140px;
          height: 140px;
          border-radius: 32px;
          img {
            width: 30px;
          }
          p {
            font-size: 11px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .Card {
    &__content {
      &-title {
        padding: 50px 0 50px 0;
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
