.Card {
  background: url("../../../public/images/CardBackground.svg") no-repeat center;
  height: auto;
  &__content {
    text-align: center;
    &-title {
      padding: 82px 0 92px 0;
      h2 {
        color: var(--mainColor);
        font-size: 50px;
      }
      p {
        color: var(--textColor);
        font-size: 30px;
      }
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 74px;
      padding-bottom: 155px;
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 14rem;
        height: 14rem;
        background-color: #5a5a5a73;
        border-radius: 46px;
        img {
          margin-top: 35px;
        }
        p {
          color: var(--mainColor);
          height: 51px;
          font-size: 20px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .Card {
    padding-bottom: 50px;
    &__content {
      &-items {
        gap: 1.8rem;
        padding-bottom: 0;
      }
    }
  }
}
@media (max-width: 1240px) {
  .Card {
    &__content {
      &-title {
        padding: 22px 0;
      }
      &-items {
        gap: 1.5rem;
      }
    }
  }
}
@media (max-width: 768px) {
  .Card {
    // background-image: none;
    // background-color: var(--darkBackground);

    padding: 20px;
    &__content {
      &-title {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      &-items {
        gap: 1rem;
        &-item {
          width: 180px;
          height: 180px;
          img {
            width: 60px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 624px) {
  .Card {
    background-image: none;
    background-color: var(--darkBackground);

    padding: 20px;
    &__content {
      &-title {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      &-items {
        gap: 1rem;
        &-item {
          width: 180px;
          height: 180px;
          img {
            width: 50px;
          }
          p {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .Card {
    &__content {
      &-title {
        h2 {
          font-size: 2rem;
          padding: 10px;
        }
        p {
          font-size: 1rem;
        }
      }
      &-items {
        gap: 2rem;
        padding: 20px;
        &-item {
          width: 200px;
          height: 160px;

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
