.preNav {
  width: 100%;

  &__content {
    padding: 0 176px;
    min-height: 48px;
    background-color: var(--mainColor);
    display: flex;
    gap: 2.625rem;
    font-size: 0.8rem;
    a {
      color: var(--preNavTextColor);
    }
    &-phone,
    &-email {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .preNav {
    &__content {
      padding: 0 30px;
      gap: 1rem;
    }
  }
}
@media (max-width: 390px) {
  .preNav {
    &__content {
      padding: 0 10px;
      gap: 5px;
    }
  }
}
