.preNav {
  width: 100%;
  &__content {
    padding: 0 156px;
    height: 48px;
    background-color: var(--mainColor);
    display: flex;
    gap: 2.625rem;
    color: #e7dada;
    font-size: 1rem;
    &-phone {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;
    }
    &-email {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;
    }
  }
}
