.preNav {
  width: 100%;

  &__content {
    display: flex;
    gap: 2.5rem;
    padding: 0 176px;
    min-height: 48px;
    background-color: var(--mainColor);
    font-size: 0.8rem;
    a {
      color: var(--preNavTextColor);
    }
    &-phone,
    &-email {
      display: flex;
      gap: 0.25rem;
      justify-content: center;
      align-items: center;
    }
  }
}
