.Contact {
  background: url("../../../public/images/contactBackground.svg") no-repeat;
  height: auto;
  &__content {
    text-align: center;
    &-title {
      padding: 82px 0 92px 0;
      margin: 0 auto;
      width: 43.5rem;
      h2 {
        color: var(--mainColor);
        font-size: 37px;
      }
      p {
        color: var(--textColor);
        font-size: 23px;
        height: 116px;
      }
    }
    &-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      gap: 74px;
      padding-bottom: 155px;
      &-item {
        width: 293px;
        height: 306px;
        background-color: #5a5a5a73;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        border-radius: 46px;
        img {
          width: 78px;
          height: 78px;
        }
        h2 {
          color: var(--mainColor);
          font-size: 26px;
        }
        p {
          color: var(--textColor);
          height: 51px;
          font-size: 18px;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .Contact {
    &__content {
      &-title {
        padding: 82px 0 0;
        p {
          height: 50px;
        }
      }
      &-items {
        gap: 20px;
        &-item {
          width: 18.313rem;
          height: 19.125rem;
          img {
            width: 78px;
            height: 78px;
          }
        }
      }
    }
  }
}
@media (max-width: 925px) {
  .Contact {
    background: none;
    background-color: var(--darkBackground);

    &__content {
      &-title {
        // padding: 30px 0 0;
        width: 80%;

        p {
          height: 80px;
          margin-bottom: 30px;
        }
      }
      &-items {
        gap: 30px;
        padding-bottom: 50px;
      }
    }
  }
}
@media (max-width: 768px) {
  .Contact {
    background: none;
    background-color: var(--darkBackground);

    &__content {
      &-title {
        padding: 30px 0 0;
        width: 80%;

        p {
          height: 80px;
          margin-bottom: 30px;
        }
      }
      &-items {
        gap: 10px;
        padding-bottom: 50px;
      }
    }
  }
}
@media (max-width: 390px) {
  .Contact {
    background: none;
    background-color: var(--darkBackground);

    &__content {
      &-title {
        padding: 20px 0 0;
        width: 80%;
        h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }
        p {
          height: 80px;
          margin-bottom: 30px;
          font-size: 20px;
        }
      }
      &-items {
        gap: 2rem;
        &-item {
          width: 200px;
          height: 200px;
          img {
            width: 50px;
          }
          h2 {
            font-size: 16px;
          }
          p {
            font-size: 12px;
            width: 90%;
          }
        }
      }
    }
  }
}
