.Result {
  width: 100%;
  &__content {
    width: 1170px;
    height: 231px;
    margin: -50px auto;
    background-color: var(--iconBackground);
    margin-bottom: 115px;
    ul {
      display: flex;
      justify-content: space-evenly;
      padding-top: 44px;
      li {
        font-size: 70px;
        color: var(--mainColor);
        list-style: none;
        p {
          font-size: 18px;
          color: var(--darkBackground);
        }
      }
    }
    hr {
      background: linear-gradient(90deg, #ed1c25 0%, #df9e9f 100%);
      height: 24px;
      margin-top: 45px;
      clip-path: polygon(50% 30%, 100% 50%, 70% 68%, 0% 50%);
    


      
    }
  }
}
@media (max-width: 1240px) {
  .Result {
    margin: 0 auto; 
    &__content {
      width: 45rem; 
      height: auto;
      margin: -10px auto; 
      ul {
        li {
          font-size: 50px; 
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .Result {
    margin: 0 auto;
    &__content {
      width: 90%;
      height: auto;
      margin: 10px auto;
      ul {
        padding: 44px 10px 0;
        justify-content: center;
        gap: 20px;
        li {
          font-size: 20px;
          P {
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .Result {
    margin: 0 auto;
    text-align: center;
   
    &__content {
      width: 100%;
      height: 140px;
      margin: 0 auto;
      ul {
        gap: 20px;
        li {
          font-size: 18px;
          P {
            font-size: 10px;
          }
        }
      }
    }
    hr{
      display: none;
    }
  }
}
