.ContactUs {
  height: auto;
  background-color: var(--darkBackground);
  width: 100%;
  // max-width: 1730px;
// position: static;
// z-index: 4;
  // margin: 50px auto 0;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // z-index: 444;

    &-left {
      padding: 154px 0 0 150px;
      width: 1200px;
      height: 840px;
      &-title {
        font-size: 22px;
        color: var(--textColor);

        h2 {
          height: 154px;
          display: inline-block;
          overflow-y: hidden;
          text-transform: uppercase;
          color: var(--mainColor);
          span {
            color: var(--textColor);
          }
        }
        p {
          margin-top: 2px;
          font-size: 18px;
          width: 40rem;
        }
      }
      &-form {
        margin-top: 50px;
        input[type="text"],
        input[type="tel"] {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
          &:focus{
            border: 2px solid #6c8da9ba;
            outline: none;
           
          }
        }
        input[type="email"],
        input[type="tel"] {
          width: 280px;
          height: 60px;
          margin-right: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
           
          &:focus{
            border: 2px solid #6c8da9ba;
            outline: none;
           
          }
        }

        select {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
        button {
          width: 180px;
        }
      }
    }
    &-right {
      overflow-x: hidden;
    }
  }
}

@media (max-width: 1240px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 50px 0 0 60px;
        width: 80%;
        height: 85%;
        &-title {
          h2 {
            height: 100px;
            font-size: 28px;
          }
          p {
            width: 16rem;
          }
        }

        &-form {
          input[type="text"] {
            width: 100%;
          }
          input[type="email"] {
            width: 100%;
          }
          input[type="tel"] {
            width: 100%;
            margin-top: 25px;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 3px;

        &-title {
          text-align: center;
          h2 {
            font-size: 22px;
            padding-top: 20px;
          }
          p {
            width: 90%;
            font-size: 18px;
            // margin-top: -30px;
            margin: 0 auto;
          }
        }
        &-form {
          padding-bottom: 50px;
          input[type="tel"] {
            margin-top: 25px;
          }
        }
      }
      &-right {
        display: none;
      }
    }
  }
}
