.ContactUs {
  background: url("../../../public//images/vector.svg") no-repeat;
  background-color: #f2eff2;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkBackground);

    &-left {
      padding: 154px 0 0 150px;
      width: 1200px;
      height: 840px;

      &-title {
        font-size: 22px;
        color: var(--textColor);
        h2 {
          height: 60px;
          display: inline-block;
          overflow-y: hidden;
          text-transform: uppercase;
          color: var(--mainColor);
          span {
            color: var(--textColor);
          }
        }
        p {
          font-size: 18px;
          width: 40rem;
        }
      }
      &-form {
        margin-top: 50px;
        input[type="text"],
        input[type="tel"] {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
          &:focus {
            border: 2px solid #6c8da9ba;
            outline: none;
          }
        }
        input[type="email"],
        input[type="tel"] {
          width: 280px;
          height: 60px;
          margin-right: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
          &:focus {
            border: 2px solid #6c8da9ba;
            outline: none;
          }
        }
        select {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
        button {
          width: 180px;
        }
      }
    }
    &-right {
      overflow-x: hidden;
    }
  }
}
.result {
  // max-width: 1170px;
  // height: 242px;
  // margin: 0 auto;
  // background-color: var(--iconBackground);
  // padding: 20px 15px;
  // border-radius: 8px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // margin-top: -60px;
  // position: relative;
  max-width: 1270px;
  // height: auto;
  margin: 0 auto;
  background-color: var(--iconBackground);
  padding: 20px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  position: relative;
  border-bottom: 8px solid var(--darkBackground);
  ul {
    display: flex;
    justify-content: space-between;
  // margin: 0 auto;
    padding: 20px 0;
    gap: 10px;
    li {
      font-size: 68px;
      color: var(--mainColor);
      text-align: center;
    
      p {
        font-size: 18px;
        color: #152430;
        font-weight: 700;
        width: 300px;
        height: auto;
      }
    }
  }
  @media (max-width: 1440px) {
    max-width: 90%;
    // height: 220px;
    ul {
      width: 90%;
      li {
        font-size: 60px;
        p {
          font-size: 17px;
        }
      }
    }
  }
  @media (max-width: 1240px) {
    max-width: 90%;
    // height: 220px;
    ul {
      width: 90%;
      li {
        font-size: 50px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 90%;
    border-radius: 0;
    ul {
      width: 95%;
      padding-top: 0px;
      padding-bottom: 0px;
      gap: 5px;
      li {
        font-size: 30px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: 490px) {
    max-width: 100%;
    padding: 3px 0;
    min-height: 80px;
    ul {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 0px;
      justify-content: center;
      gap: 10px;
      li {
        font-size: 20px;
        p {
          width: 65px;
          font-size: 8px;
          min-height: 50px;
          height: 50px !important;
          text-align: center;
        }
        &:nth-child(4) {
          p {
            width: 95px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 50px 0 0 60px;
        width: 90%;
        height: 85%;
        &-title {
          h2 {
            height: 80px;
            font-size: 28px;
          }
          p {
            width: 16rem;
          }
        }

        &-form {
          input[type="text"] {
            width: 100%;
            background-color: var(--darkBackground);
          }
          input[type="email"] {
            width: 100%;
            background-color: var(--darkBackground);
          }
          input[type="tel"] {
            width: 100%;
            margin-top: 25px;
            background-color: var(--darkBackground);
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactUs {
    &__content {
      &-left {
        position: relative;
        z-index: 20;
        padding: 3px;
        &-title {
          h2 {
            font-size: 22px;
            padding-top: 20px;
            width: 90%;
          }
          p {
            width: 90%;
            font-size: 16px;
          }
        }
        &-form {
          padding-bottom: 50px;
          input[type="tel"] {
            margin-top: 25px;
          }
          button {
            font-size: 14px;
            height: 40px;
            width: 180px;
          }
        }
      }
      &-right {
        position: absolute;
        left: 60%;
        z-index: 0;
        max-width: 40%;
        // display: none;
      }
    }
  }
}
@media (max-width: 490px) {
  .ContactUs {
    &__content {
      &-left {
        &-title {
          h2 {
            width: 100%;
          }
        }

        &-form {
          input[type="email"],
          input[type="tel"],
          input[type="text"] {
            height: 45px;
          }
          button {
            margin-bottom: 50px;
            height: 32px;
            width: 140px;
            font-size: 13px;
          }
        }
      }
      &-right {
        position: absolute;
        left: 50%;
        z-index: 0;
        max-width: 50%;
      }
    }
  }
}
