.ContactUs {
  height: auto;
  background: url("../../../public//images/vector.svg");
  background-color: #f2eff2;
  width: 100%;
  // border: 2px solid red;
  // max-width: 1730px;


  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkBackground);

    &-left {
      padding: 154px 0 0 150px;
      width: 1200px;
      height: 840px;
      &-title {
        font-size: 22px;
        color: var(--textColor);

        h2 {
          height: 154px;
          display: inline-block;
          overflow-y: hidden;
          text-transform: uppercase;
          color: var(--mainColor);
          span {
            color: var(--textColor);
          }
        }
        p {
          margin-top: 2px;
          font-size: 18px;
          width: 40rem;
        }
      }
      &-form {
        margin-top: 50px;
        input[type="text"],
        input[type="tel"] {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
          &:focus{
            border: 2px solid #6c8da9ba;
            outline: none;
           
          }
        }
        input[type="email"],
        input[type="tel"] {
          width: 280px;
          height: 60px;
          margin-right: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
           
          &:focus{
            border: 2px solid #6c8da9ba;
            outline: none;
           
          }
        }

        select {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
        button {
          width: 180px;
        }
      }
    }
    &-right {
      overflow-x: hidden;
    }


    
  }
 
}
// .result{
//   width: 1170px;
//   height: 242px;
//   margin: 0 auto;
//   background-color: var(--iconBackground);
//   padding-bottom: 70px;
//   border-radius: 8px;
//   // position: relative;
//   position: absolute;
//   left: 220px;
//   // top: 30px;
//   // top: 10px;
//   // top: 4800px;
//   bottom: -20px;
//   z-index: 644; 


//   img{
//     position: absolute;
//     right: -2px;
//     // left: 0;
//     bottom: 0;

//   }
//   ul {
//     display: flex;
//     justify-content: space-evenly;
//     padding-top: 44px;

//     // top: 50px;

//     li {
//       font-size: 70px;
//       color: var(--mainColor);
//       list-style: none;
//       p {
//         font-size: 18px;
//         color: #152430;
//         font-weight: 700;
//       }
//     }
//   }
    
// }

.result {
  max-width: 1170px;
    height: 242px;
  margin: 0 auto;
  background-color: var(--iconBackground);
  padding: 20px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  position: relative;
  

  img {
    position: absolute;
    // right: -2px;
    bottom: 0;

  height: 14px;
  width: 100%;
  pointer-events: none;
  user-select: none;
  }

  ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    li {
      font-size: 70px;
      color: var(--mainColor);
      list-style: none;
      text-align: center;
      p {
        font-size: 18px;
        color: #152430;
        font-weight: 700;
      }
    }
  }
}

// .ContactUs {
//   position: relative; /* Устанавливаем для управления дочерними элементами */
//   padding-bottom: 40px; /* Увеличиваем отступ снизу для места под .result */
// }

@media (max-width: 1240px) {
  .result{
    ul {
      width: 90%;
      padding-top: 44px;
      li {
        font-size: 50px;
    
        
      }
    }
  }
}
@media (max-width: 768px) {
  .result{
    margin-top: 20px;
  width: 100%;


    ul {
      width: 100%;
      padding-top: 44px;
      gap: 10px;
      li {
        font-size: 40px;
    
        p{
          font-size: 16px;
        }
      }
      
    }
  }
}
@media (max-width: 620px) {
  .result{
    margin-top: 20px;
  width: 100%;


    ul {
      width: 100%;
      padding-top: 44px;
      gap: 10px;
      li {
        font-size: 32px;
    
        p{
          font-size: 14px;
        }
      }
      
    }
  }
}
@media (max-width: 550px) {
  .result{
    // margin-top: 20px;
  width: 100%;
  height: 160px;
  top: -20px;
  border-radius: 0;



    ul {
      width: 100%;
      // padding-top: 44px;
      gap: 20px;
      li {
        font-size: 24px;
       
    
        p{
          font-size: 6px;
    
        }
      }
      
    }
  }
}























@media (max-width: 1240px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 50px 0 0 60px;
        width: 80%;
        height: 85%;
        &-title {
          h2 {
            height: 100px;
            font-size: 28px;
          }
          p {
            width: 16rem;
          }
        }

        &-form {
          input[type="text"] {
            width: 100%;
          }
          input[type="email"] {
            width: 100%;
          }
          input[type="tel"] {
            width: 100%;
            margin-top: 25px;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 3px;

        &-title {
          text-align: center;
          h2 {
            font-size: 22px;
            padding-top: 20px;
          }
          p {
            width: 90%;
            font-size: 18px;
            // margin-top: -30px;
            margin: 0 auto;
          }
        }
        &-form {
          padding-bottom: 50px;
          input[type="tel"] {
            margin-top: 25px;
          }
        }
      }
      &-right {
        display: none;
      }
    }
  }
}
