.ContactUs {
  height: auto;
  background-color: var(--darkBackground);
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    &-left {
      padding: 123px 0 0 150px;
      width: 1200px;
      height: 840px;
      &-title {
        font-size: 37px;
        color: var(--textColor);
        h2 {
          height: 173px;
          display: inline-block;
          span {
            color: var(--mainColor);
          }
        }
        p {
          margin-top: 2px;
          font-size: 18px;
          width: 644px;
        }
      }
      &-form {
        margin-top: 50px;
        input[type="text"], input[type="tel"] {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
        input[type="email"], input[type="tel"] {
          width: 280px;
          height: 60px;
          margin-right: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
       
        select {
          width: 590px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 8px;
          color: var(--textColor);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
        }
        button {
          width: 180px;
        }
      }
    }
    &-right {
      overflow-x: hidden;
    }
  }
}

@media (max-width: 1240px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 50px 0 0 60px;
        width: 70%;
        height: 85%;
        &-form {
          input[type="text"] {
            width: 100%;
          }
          input[type="email"] {
            width: 100%;
          }
          input[type="tel"] {
            width: 100%;
            margin-top: 25px;
          }
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .ContactUs {
    &__content {
      &-left {
        padding: 4px;
        &-title {
          h2 {
            text-align: center;
            font-size: 22px;
            padding-top: 20px;
          }
          p {
            width: 100%;
            font-size: 18px;
          }
        }
        &-form {
          padding-bottom: 50px;
          input[type="tel"] {
            margin-top: 25px;
          }
          
        }
      }
      &-right {
        display: none;
      }
    }
  }
}
