.Footer {
  background-color: var(--darkBackground);
  margin: 0 auto;
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-left {
      margin-top: 50px;
      &-truck {
        img {
          max-width: 404px;
          height: 154px;
        }
        p {
          max-width: 480px;
          font-size: 16px;
          text-align: start !important;
          color: var(--cardsBackground);
          margin-left: 20px;
          margin: 40px 0;
        }
      }
      &-socials {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;

        margin-left: 20px;
        img {
          margin-bottom: 40px;
        }
      }
    }
    &-center {
      color: var(--cardsBackground);
      text-transform: uppercase;
      h2 {
        font-size: 22px;
      }
      ul {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        a {
          font-size: 16px;
          color: var(--cardsBackground);
        }
      }
    }
    &-right {
      margin: 50px 0;
      &-socials {
        display: none;
      }
      &-title {
        h2 {
          width: 480px;
          font-size: 20px;
          margin-bottom: 18px;
          color: var(--iconBackground);
        }
        p {
          width: 420px;
          font-size: 12px;
          margin-bottom: 22px;
          padding-top: 0 !important;
          height: 60px;
          text-align: left !important;
          color: var(--iconBackground);
        }
      }

      input {
        width: 400px;
        height: 60px;
        margin-bottom: 24px;
        border-radius: 4px;
        color: var(--iconBackground);
        border: 2px solid #6c8da9ba;
        background-color: transparent;
        padding: 18px 25px;
        font-size: 16px;
        &:focus {
          border: 2px solid #6c8da9ba;
          outline: none;
        }
      }
      button {
        width: 400px;
      }
    }
  }
  hr {
    width: 90%;
    margin: 0 auto;
  }
  .copy {
    color: var(--cardsBackground);

    text-align: center;
    padding: 33px 0 44px 0;
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .Footer {
    background-color: var(--darkBackground);
    margin: 0 auto;
    &__content {
      &-left {
        margin-top: 50px;
        &-truck {
          img {
            max-width: 340px;
            height: 154px;
          }
          p {
            max-width: 380px;
            font-size: 14px;
            text-align: start !important;
            color: var(--cardsBackground);
            margin-left: 20px;
            margin: 40px 0;
          }
        }

        &-socials {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 30px;

          margin-left: 20px;
          img {
            margin-bottom: 40px;
          }
        }
      }
      &-center {
        ul {
          margin-top: 31px;
          a {
            font-size: 16px;
          }
        }
      }
      &-right {
        margin: 50px 0;
        &-socials {
          display: none;
        }
        &-title {
          h2 {
            width: 400px;
            font-size: 18px;
            margin-bottom: 18px;
            color: var(--iconBackground);
          }
          p {
            width: 400px;
            font-size: 12px;
            margin-bottom: 22px;
            padding-top: 0 !important;
            height: 60px;
            text-align: left !important;
            color: var(--iconBackground);
          }
        }

        input {
          width: 380px;
          height: 60px;
          margin-bottom: 24px;
          border-radius: 4px;
          color: var(--iconBackground);
          border: 2px solid #6c8da9ba;
          background-color: transparent;
          padding: 18px 25px;
          font-size: 16px;
          &:focus {
            border: 2px solid #6c8da9ba;
            outline: none;
          }
        }
        button {
          width: 380px;
        }
      }
    }
    hr {
      width: 90%;
      margin: 0 auto;
    }
    .copy {
      color: var(--cardsBackground);

      text-align: center;
      padding: 33px 0 44px 0;
      font-size: 15px;
    }
  }
}
@media (max-width: 1110px) {
  .Footer {
    &__content {
      flex-wrap: wrap;
      gap: 20px;
      &-left {
        width: 90%;
        &-truck {
          width: 70%;
          margin: 0 auto;
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
          p {
            max-width: 100%;
            width: 100%;
            font-size: 20px;
          }
        }
        &-socials {
          display: none;
        }
      }
      &-center {
        width: 90%;
        ul {
          margin: 0 auto;
          width: 60%;
          padding-left: 150px;
          li {
            a {
              font-size: 22px;
            }
          }
        }
      }
      &-right {
        width: 90%;
        &-socials {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          margin: 40px auto;
        }
        &-title {
          width: 70%;
          margin: 0 auto;
          h2 {
            width: 100% !important;
            font-size: 22px;
          }
          p {
            width: 100% !important;
            height: auto;
            font-weight: 20;
            font-size: 18px;
          }
        }
        form {
          width: 60%;
          margin: 0 auto;
          input {
            width: 100%;
          }
          button {
            width: 100%;
            height: 40px;
            font-size: 14px;
          }
        }
      }
    }
    hr {
      display: none;
    }
    .copy {
      width: 100%;
      padding: 20px;
      color: var(--darkBackground);
      background-color: var(--textColor);
      text-align: center;
      font-size: 12px;
    }
  }
}
@media (max-width: 768px) {
  .Footer {
    &__content {
      flex-wrap: wrap;
      gap: 40px;

      &-left {
        &-truck {
          width: 80%;
          p {
            margin: 20px 0;
            font-size: 18px;
          }
        }
        &-socials {
          display: none;
        }
      }
      &-center {
        width: 100%;
        ul {
          padding-left: 120px;
          li {
            a {
              font-size: 21px;
            }
          }
        }
      }
      &-right {
        &-socials {
          gap: 30px;
        }
        &-title {
          width: 80%;
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }
        form {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 670px) {
  .Footer {
    &__content {
      gap: 30px;
      &-left {
        width: 100%;
        &-truck {
          p {
            font-size: 16px;
          }
        }
        &-socials {
          display: none;
        }
      }
      &-center {
        ul {
          padding-left: 80px;
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }
      &-right {
        width: 100%;
        &-socials {
          gap: 20px;
        }
        &-title {
          width: 80%;
          h2 {
            font-size: 16px;
          }
          p {
            font-size: 14px;
          }
        }
        form {
          width: 80%;
        }
      }
    }
  }
}
@media (max-width: 490px) {
  .Footer {
    &__content {
      &-left {
        &-truck {
          p {
            font-size: 12px;
          }
        }
      }
      &-center {
        width: 100%;
        ul {
          padding-left: 60px;
          li {
            a {
              font-size: 16px;
            }
          }
        }
      }
      &-right {
        &-title {
          width: 80%;
          h2 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .Footer {
    &__content {
      &-center {
        ul {
          padding-left: 40px;
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
