.Footer {
  background-color: var(--darkBackground);
  margin: 0 auto;
  &__content {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // overflow-y: hidden;

    &-left {
      margin-top: 50px;
      &-truck {
        img {
          max-width: 404px;
          height: 154px;
        }
        p {
          max-width: 480px;
          font-size: 18px;
          text-align: start !important;
          color: var(--cardsBackground);

          margin-left: 20px;
          margin-bottom: 30px;
        }
      }

      &-socials {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;

        margin-left: 20px;
        img {
          margin-bottom: 40px;
        }
      }
    }
    &-center {
      color: var(--cardsBackground);
      text-transform: uppercase;
      h2 {
        font-size: 22px;
      }
      ul {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        a {
          font-size: 16px;
          color: var(--cardsBackground);
        }
      }
    }
    &-right {
      margin: 50px 0;
      &-socials{
        display: none;
      }
      &-title {
        h2 {
          width: 480px;
          font-size: 20px;
          margin-bottom: 18px;
          color: var(--iconBackground);
        }
        p {
          width: 420px;
          font-size: 12px;
          margin-bottom: 22px;
          padding-top: 0 !important;
          height: 60px;
          text-align: left !important;
          color: var(--iconBackground);
        }
      }

      input {
        width: 400px;
        height: 60px;
        margin-bottom: 24px;
        border-radius: 4px;
        color: var(--iconBackground);
        border: 2px solid #6c8da9ba;
        background-color: transparent;
        padding: 18px 25px;
        font-size: 16px;
        &:focus {
          border: 2px solid #6c8da9ba;
          outline: none;
        }
      }
      button {
        width: 400px;
      }
    }
  }
  hr {
    width: 90%;
    margin: 0 auto;
  }
  .copy {
    color: var(--cardsBackground);

    text-align: center;
    padding: 33px 0 44px 0;
    font-size: 15px;
  }
}

@media (max-width: 1540px) {
  .Footer {
    &__content {
      justify-content: space-around;
    }
  }
}
@media (max-width: 1240px) {
  .Footer {
    &__content {
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;

      &-left {
        margin: 0 30px;

        &-truck {
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            max-width: 80%;
          }
          p {
            max-width: 300px;
            text-align: center !important;
          }
        }

        &-socials {
          justify-content: center;
          width: 100%;
          gap: 30px;
        }
      }
      &-center {
        h2 {
          width: 300px;
          // border: 2px solid red;
          // text-align: start;
        }
        ul {
          width: 300px;
          align-items: center;
          // border: 2px solid red;
          gap: 16px;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            width: 335px;
            text-align: left;
            font-size: 20px;
          }
          p {
            width: 335px !important;
            height: 150px;
            margin: 0 auto;
            text-align: left !important;
          }
        }

        input {
          margin-top: 30px;
        }
        button {
          margin-bottom: 20px;
        }
      }
    }
    p {
      width: 80%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 670px) {
  .Footer {
    &__content {
    
      &-left {
        margin-top: 40px;
        &-truck {
          p {
            max-width: 480px;
            margin-top: 20px;
            text-align: start !important;
          }
        }
        &-socials {
          display: none;
        }
      }
      &-center {
        h2 {
          // width: 200px;
          border: 2px solid rgb(14, 28, 107);
          text-align: start !important;
        }
        ul {
          // width: 300px;
          // align-items: center;
          // gap: 16px;
          // text-align: left;
          // border: 2px solid rgb(14, 28, 107);
          margin: 0 auto;
          
          li {
            width: 200px;
            text-align: center;
            margin: 0 auto;
            // border: 2px solid rgb(14, 28, 107);
          
          }
        }
      }
      &-right {
        &-socials{
          display: flex;
          align-items: center;
          justify-content: center;

          gap: 25px;

          margin-bottom: 40px;
        }
        &-title {
          h2 {
            width: 335px;
            text-align: left;
            font-size: 18px;
          }
          p {
            height: 60px;
          }
        }
        form {
          input {
            width: 340px;
          }
          button {
            font-size: 14px;
            height: 40px;
            width: 340px;
          }
        }
      }
    }
    hr {
      display: none;
    }
    .copy {
      width: 100%;
      padding: 20px;
      color: var(--darkBackground);
      background-color: var(--textColor);
      text-align: center;
      font-size: 12px;
    }
  }
}

// @media (max-width: 390px) {
//   .Footer {
//     &__content {
//       &-left {
//         &-truck {
//           p {
//             width: 90%;
//             margin-bottom: 10px;
//           }
//         }
//         &-socials {
//           width: auto;
//           gap: 14px;
//           align-items: center;
//         }
//       }
//       &-center {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         ul > a {
//           font-size: 20px;
//         }
//       }
//       &-right {
//         h2 {
//           font-size: 16px;
//           width: 90%;

//           text-align: center;
//         }
//         p {
//           margin-bottom: 20px;
//           font-size: 18px;
//           width: 90% !important;
//           height: max-content;
//           text-align: center !important;
//         }
//         form {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           margin-bottom: 20px;
//           width: 100%;

//           button {
//             width: 140px;
//             font-size: 13px;
//             height: 32px;
//             margin-top: -20px;
//           }
//         }
//       }
//     }
//     p {
//       font-size: 12px;
//     }
//     p {
//       font-size: 12px;
//     }
//   }
// }
