.NewsHome {
  &__content {
    &-title {
      background: url("./images/transport-newBackground.svg");
      height: 390px;
      padding: 180px 0 0 377px;
      h2 {
        color: var(--textColor);
        font-size: 90px;
        line-height: 26px;
      }
    }
    &-items {
      width: 1419px;
      margin: 100px auto 100px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 78px;
      color: var(--darkBackground);
      &-item {
        width: 669px;
        border-radius: 22px;
        background-color: #d4dce5;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3.22px 32.23px 0px;
        h2 {
          font-size: 40px;
          width: 602px;
          text-align: center;
          margin: 54px auto 58px auto;
          color: var(--darkBackground);
        }
        img {
          width: 597px;
          height: 423px;
          border-radius: 28px;
          margin: 0 auto;
          color: var(--darkBackground);
        }
        p {
          text-align: center;
          text-decoration: underline;
          margin-bottom: 52px;
          font-size: 18px;
          cursor: pointer;
          color: var(--darkBackground);
        }
      }
    }
    &-pagination {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin: 0 auto 94px auto;

      ul {
        li {
          list-style: none;
          width: 30px;
          height: 30px;
          color: var(--darkBackground);
          cursor: pointer;
          &:hover {
            color: var(--mainColor);
          }
        }
      }
      button {
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 36px;
        &:hover {
          color: var(--mainColor);
        }
      }
    }
  }
}
