.NewsHome {
  margin-top: 90px auto 0;
  overflow-y: hidden;
  &__content {
    margin-top: 125px;
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
    &-title {
      background: url("../../../public/images/transport-newBackground.svg")
        no-repeat center;
      height: 491px;
      padding: 180px 0 0 377px;
      h2 {
        color: var(--textColor);
        font-size: 90px;
        line-height: 100%;
        overflow-y: hidden;
      }
    }
    &-items {
      width: 100%;
      margin: 100px auto 100px auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 78px;
      color: var(--darkBackground);
      padding-top: 30px;
      padding-bottom: 30px;
      &-item {
        width: 669px;
        border-radius: 22px;
        background-color: #d4dce5;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3.22px 32.23px 0px;
        h2 {
          font-size: 40px;
          width: 602px;
          text-align: center;
          margin: 54px auto 58px auto;
          color: var(--darkBackground);
        }
        img {
          width: 597px;
          height: 423px;
          border-radius: 28px;
          margin: 0 auto;
          color: var(--darkBackground);
        }
        p {
          text-align: center;
          text-decoration: underline;
          margin-bottom: 52px;
          font-size: 18px;
          cursor: pointer;
          color: var(--darkBackground);
        }
      }
    }
    &-pagination {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin: 0 auto 94px auto;

      ul {
        li {
          list-style: none;
          width: 30px;
          height: 30px;
          color: var(--darkBackground);
          cursor: pointer;
          &:hover {
            color: var(--mainColor);
          }
        }
      }
      button {
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 36px;
        &:hover {
          color: var(--mainColor);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .NewsHome {
    &__content {
      &-title {
        padding: 30% 0 0 25%;
        h2 {
          font-size: 70px;
        }
      }
      &-items {
        &-item {
          width: 80%;
          h2 {
            font-size: 22px;
            width: 90%;
            margin: 54px auto 20px auto;
          }
          p {
            font-size: 16px;
          }

          img {
            width: 80%;
            height: 60%;
            max-height: fit-content;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .NewsHome {
    &__content {
      &-items {
        margin-top: 0;
        margin-bottom: 0px;
        gap: 40px;
        &-item {
          width: 80%;
          a {
            h2 {
              margin-top: 20px;
              font-size: 18px;
              line-height: 30px;
              overflow: hidden;
            }
          }
          p {
            margin-bottom: 20px;
          }
        }
      }
      &-pagination {
        margin-bottom: 0;
        button {
          font-size: 20px;
          &:hover {
            color: var(--mainColor);
          }
        }
      }
    }
  }
}
