.NewsHome {
  margin-top: 90px auto 0;
  overflow-y: hidden;
  background-color: #f2eff2;
  &__content {
    margin-top: 80px;
    width: 100%;
    background-color: #eee9e9;
    &-title {
      background: url("../../../public/images/transport-newBackground.jpeg")
        no-repeat center center;
      background-size: cover;

      height: 500px;
      padding: 200px 0 0 300px;
      width: 100%;
      h2 {
        color: var(--textColor);
        font-size: 90px;
        line-height: 150px;
        overflow-y: hidden;
      }
    }
    &-items {
      width: 100%;
      margin: 100px auto 100px auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 78px;
      color: var(--darkBackground);
      padding-top: 30px;
      padding-bottom: 30px;
      &-item {
        width: 730px;
        border-radius: 22px;
        background-color: #d4dce5;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3.52px 35.19px 0px rgba(0, 0, 0, 0.25);

        h2 {
          font-size: 30px;
          width: 602px;
          height: 120px;
          text-align: center;
          margin: 54px auto 58px auto;
          color: var(--darkBackground);
        }
        img {
          width: 597px;
          height: 423px;
          border-radius: 28px;
          margin: 0 auto;
          color: var(--darkBackground);
          margin-bottom: 34px;
        }
        p {
          text-align: center;
          text-decoration: underline;
          margin-bottom: 52px;
          font-size: 18px;
          cursor: pointer;
          color: var(--darkBackground);
        }
      }
    }
    &-pagination {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin: 0 auto 94px auto;

      ul {
        li {
          list-style: none;
          width: 30px;
          height: 30px;
          color: var(--darkBackground);
          cursor: pointer;
          &:hover {
            color: var(--mainColor);
          }
        }
      }
      button {
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 36px;
        &:hover {
          color: var(--mainColor);
        }
      }
    }
  }
}
.resultTwo {
  max-width: 1170px;
  height: 242px;
  margin: 0 auto;
  background-color: var(--iconBackground);
  padding: 20px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -10px;
  position: relative;

  img {
    position: absolute;
    bottom: 0;

    height: 14px;
    width: 100%;
    pointer-events: none;
    user-select: none;
  }

  ul {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    li {
      font-size: 70px;
      color: var(--mainColor);
      list-style: none;
      text-align: center;
      p {
        font-size: 18px;
        color: #152430;
        font-weight: 700;
      }
    }
  }
  @media (max-width: 1240px) {
    max-width: 80%;
    height: auto;
    margin-top: -25px;
    ul {
      width: 80%;
      padding-top: 10px;
      padding-bottom: 10px;
      li {
        font-size: 50px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 90%;
    ul {
      width: 95%;
      padding-top: 0px;
      padding-bottom: 0px;
      gap: 5px;
      li {
        font-size: 30px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: 490px) {
    max-width: 100%;
    padding: 3px 0;
    min-height: 80px;
    ul {
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      justify-content: center;
      gap: 10px;
      li {
        font-size: 20px;
        p {
          width: 65px;
          font-size: 8px;
          min-height: 50px;
          height: 50px !important;
          text-align: center;
        }
        &:nth-child(4) {
          p {
            width: 95px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .NewsHome {
    &__content {
      &-title {
        padding: 150px 0 0 100px;
      }
    }
  }
}
@media (max-width: 768px) {
  .NewsHome {
    &__content {
      &-title {
        padding: 150px 0 0 50px;
        h2 {
          font-size: 50px;
        }
      }
      &-items {
        &-item {
          width: 80%;
          h2 {
            font-size: 22px;
            width: 90%;
            margin: 54px auto 20px auto;
          }
          p {
            font-size: 16px;
          }

          img {
            width: 80%;
            height: 60%;
            max-height: fit-content;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .NewsHome {
    &__content {
      &-title {
        height: auto;
        padding: 100px 50px;
        h2 {
          font-size: 35px;
        }
      }
      &-items {
        margin-top: 0;
        margin-bottom: 0px;
        gap: 40px;
        &-item {
          width: 80%;
          a {
            h2 {
              margin-top: 20px;
              font-size: 18px;
              line-height: 30px;
              overflow: hidden;
            }
          }
          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
