.NewsHome {
  background-color: rgba(238, 233, 233, 1);
  &__content {
    margin: 134px auto 0;
    background-color: rgba(238, 233, 233, 1);
    

    &-title {
      background: url("../../../public/images/transport-newBackground.jpeg")
        no-repeat center center;
      background-size: cover;
      height: 500px;
      h2 {
        color: var(--textColor);
        padding: 180px 0 0 200px;
        text-align: start;
        font-size: 70px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    &-items {
      margin: 100px auto 140px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 78px;
      color: var(--darkBackground);
      &-item {
        width: 730px;
        border-radius: 22px;
        background-color: #d4dce5;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3.52px 35.19px 0px rgba(0, 0, 0, 0.25);
        margin: 40px 0;

        h2 {
          font-size: 28px;
          height: 200px;
          text-align: center;
          padding: 30px 80px;
          color: var(--darkBackground);
          font-weight: bold;
        }
        img {
          width: 597px;
          height: 423px;
          border-radius: 28px;
          margin: 0 auto;
          color: var(--darkBackground);
          margin-bottom: 34px;
        }
        p {
          text-align: center;
          text-decoration: underline;
          margin-bottom: 52px;
          font-size: 18px;
          cursor: pointer;
          font-weight: bold;
          color: var(--darkBackground);
        }
      }
    }
    &-pagination {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;
      margin: 0 auto 94px auto;

      ul {
        li {
          list-style: none;
          width: 30px;
          height: 30px;
          color: var(--darkBackground);
          cursor: pointer;
          &:hover {
            color: var(--mainColor);
          }
        }
      }
      button {
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 36px;
        &:hover {
          color: var(--mainColor);
        }
      }
    }
  }
}
.resultNews {
  max-width: 1270px;
  margin: 0 auto;
  background: linear-gradient(175.9deg, #eee9e9 50.76%, #f3dbdc 158.93%);
  box-shadow: 0px 6.58px 14.27px 0px rgba(0, 0, 0, 0.1);

  padding: 20px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px;

  position: relative;
  border-bottom: 8px solid var(--mainColor);
  ul {
    display: flex;
    text-align: center;
    padding: 20px 0;
    gap: 70px;
    li {
      font-size: 68px;
      color: var(--mainColor);
      text-align: center;
      font-weight: bold;
      margin: 0 auto;
      p {
        font-size: 18px;
        color: #152430;
        font-weight: 700;
      }
    }
  }
  @media (max-width: 1440px) {
    max-width: 90%;
    ul {
      padding: 0px 0;
      li {
        font-size: 60px;
        p {
          font-size: 17px;
        }
      }
    }
  }
  @media (max-width: 1240px) {
    ul {
      width: 90%;
      gap: 40px;
      li {
        font-size: 50px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    max-width: 90%;
    ul {
      gap: 20px;
      li {
        font-size: 40px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 590px) {
    max-width: 100%;
    border-radius: 0;
    border-top: 8px solid var(--darkBackground);
    border-bottom: 0;
    margin: -150px 0 0 0;
    ul {
      gap: 35px;
      li {
        font-size: 34px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  @media (max-width: 520px) {
    // margin: -150px 0 0 0;
    ul {
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: start;
      margin: 0 auto;
      text-align: center;
      gap: 20px;

      li {
        font-size: 32px;
        width: 40%;
        p {
          font-size: 10px;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .NewsHome {
    &__content {
      &-title {
        height: 450px;
        h2 {
          font-size: 60px;
          padding: 180px 0 0 140px;
        }
      }
      &-items{
        &-item{
          h2{
            height: auto;
          }
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .NewsHome {
    &__content {
      &-title {
        height: 400px;
        h2 {
          font-size: 50px;
          padding: 160px 0 0 100px;
        }
      }
      &-items {
        gap: 40px;
        &-item {
          width: 90%;
          max-width: 730px;

          img {
            width: 80%;
            height: auto;
            border-radius: 28px;
            margin: 0 auto;
            margin-bottom: 34px;
          }

        }
      }
    }
    
  }
}
@media (max-width: 768px) {
  .NewsHome {
    &__content {
      &-title {
        height: 350px;
        h2 {
          font-size: 40px;
          padding: 140px 0 0 80px;
        }
      }
      &-items {
        margin: 60px 0 160px;
        gap: 20px;
        &-item {
          h2 {
            font-size: 20px;
            padding: 20px 40px;

          }
          p {
            font-size: 16px;
            margin-bottom: 42px;

          }

        }
      }
    }
  }
}
@media (max-width: 490px) {
  .NewsHome {
    &__content {
      &-title {
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }
      &-items {
        gap: 0;
        &-item {
          h2 {
            font-size: 18px;
            padding: 20px 30px;

          }
          p {
            font-size: 14px;
          }       
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .NewsHome {
    &__content {
      &-title {
        height: 250px;
        h2 {
          padding: 100px 0 0 40px;
        }
      }
      &-items {
        &-item {
            h2 {
              font-size: 14px;
              padding: 20px 20px;
            }
          }
          p {
            margin-bottom: 20px;
            font-size: 12px;
        }
      }
    }
  }
}
