.Logistic {
  width: 100%;
  margin: 134px auto 0;
  // max-width: 1730px;
  &__content {
    background: url("../../../public/images/imgOne.png") no-repeat center;
    background-size: cover;
    height: auto;
    padding-top: 12rem;
    padding-left: 9.875rem;
    padding-right: 9.875rem;

    &-about {
      width: 39rem;
      padding-bottom: 246px;

      h3 {
        font-size: 1.625rem;
        font-weight: 400;
        color: var(--textColor);
        margin-bottom: 50px;
      }

      h1 {
        font-size: 52px;
        font-weight: 400;
        color: #d61a22;
        margin-bottom: 58px;
      }

      p {
        width: 350px;
        height: 100px;
        font-size: 18px;
        color: #d2d2d2;
        margin-bottom: 20px;
        font-weight: 400;
      }

      button {
        width: 200px;
        display: flex;
        justify-content: center;
        font-size: 16px;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 1240px) {
    &__content {
      padding: 10rem 3rem;
      &-about {
        width: 100%;
        padding: 100px;
        h1 {
          font-size: 40px;
        }
        h3 {
          font-size: 1.5rem;
        }

        p {
          height: auto;
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__content {
      width: 100%;
      padding: 1rem 1rem;
      &-about {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        h1 {
          width: 100%;
          text-align: center;
          font-size: 36px;
        }

        h3 {
          text-align: center;
          font-size: 1.5rem;
        }

        p {
          height: auto;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 390px) {
    &__content {
      padding: 6rem 1rem;
      &-about {
        h1 {
          font-size: 26px;
        }

        h3 {
          font-size: 1.2rem;
        }
        p {
          font-size: 14px;
        }
        button {
          padding: 1rem;
          font-size: 12px;
          width: 10rem;
        }
      }
    }
  }
}
