.Logistic {
  margin: 134px auto 0;
  &__content {
    background: url("../../../public/images/imgOne.png") no-repeat center center;
    background-size: cover;
    height: 766px;
    padding: 192px 0 0 158px;
    overflow-y: hidden;
    &-about {
      h3 {
        font-size: 26px;
        color: var(--textColor);
      }

      h1 {
        font-size: 52px;
        color: #d61a22;
        margin: 50px 0;
      }
      p {
        width: 650px;
        font-size: 18px;
        color: #d2d2d2;
        margin-bottom: 40px;
      }

      button {
        width: 200px;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 1240px) {
    &__content {
      height: 560px;
      padding: 142px 0 0 108px;
      &-about {
        h3 {
          font-size: 24px;
        }
        h1 {
          font-size: 42px;
          margin: 40px 0;
        }
        p {
          font-size: 16px;
          margin-bottom: 36px;
        }
      }
      button {
        width: 190px;
        height: 44px;
        font-size: 15px;
      }
    }
  }
  @media (max-width: 768px) {
    &__content {
      background-image: url("../../../public/images/imgOne2.png");
      height: 460px;
      padding: 102px 0 0 68px;
      &-about {
        h3 {
          font-size: 22px;
        }
        h1 {
          font-size: 32px;
          margin: 30px 0;
        }
        p {
          width: 500px;
          font-size: 14px;
          margin-bottom: 32px;
        }
      }
      button {
        font-size: 14px;
        height: 40px;
        width: 180px;
      }
    }
  }
  @media (max-width: 600px) {
    &__content {
      height: 360px;
      padding: 72px 0 0 38px;
      &-about {
        h3 {
          font-size: 20px;
        }
        h1 {
          font-size: 26px;
          margin: 20px 0;
        }
        p {
          width: 80%;
          font-size: 12px;
          margin-bottom: 28px;
        }
      }
      button {
        width: 160px;
        height: 36px;
        font-size: 13px;
      }
    }
  }
  @media (max-width: 390px) {
    &__content {
      height: 260px;
      padding: 42px 0 0 18px;
      &-about {
        h3 {
          font-size: 16px;
        }
        h1 {
          font-size: 22px;
          margin: 10px 0;
        }
        p {
          width: 80%;
          font-size: 10px;
          margin-bottom: 24px;
        }
      }
      button {
        width: 140px;
        height: 32px;
        font-size: 13px;
      }
    }
  }
}
