.Logistic {
  width: 100%;
  &__content {
    background: url("./images/imgOne.png");
    height: 770px;
    padding-top: 192px;
    padding-left: 158px;
    width: 1730px;
    height: 766px;

    &-about {
      width: 624px;

      h3 {
        font-size: 26px;
        font-weight: 400;
        color: var(--textColor);
        margin-bottom: 50px;
      }
      h1 {
        font-size: 52px;
        font-weight: 400;
        color: var(--mainColor);
        margin-bottom: 58px;
      }
      p {
        height: 100px;
        font-size: 18px;
        color: var(--textColor);
        margin-bottom: 20px;
        font-weight: 400;
      }
      button {
        width: 172px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
