@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
:root {
  --mainColor: #ed1c25;
  --darkBackground: #0f1b24;
  --lightBackground: #d9d9d98c;
  --darkTextColor: #152430;
  --lightTextColor: #696666;
  --textColor: #ffffff;
  --cardsBackground: #cdd8db;
  --iconBackground: #eee9e9;
  --cardsBackground: #cdd8db;
  --preNavTextColor: #e7dada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100%;
  max-width: 1730px;
  font-family: "Aoboshi One";
  // overflow-x: hidden;
}
h1,
h2,
h3,
p {
  font-weight: 400;
}
a {
  text-decoration: none;
}

button {
  height: 3rem;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 50px;
  border: 0px;
  color: var(--textColor);
  border: 0px;
  color: var(--textColor);
  background-color: var(--mainColor);
  cursor: pointer;
}
