@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Armenian:wght@100..900&family=Noto+Serif+Armenian:wght@100..900&family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  // --mainColor: #ed1c25;
  --mainColor: #d61a22;
  --darkBackground: #0f1b24;
  --lightBackground: #d9d9d98c;
  --darkTextColor: #152430;
  --lightTextColor: #696666;
  --textColor: #ffffff;
  --cardsBackground: #cdd8db;
  --iconBackground: #eee9e9;
  --cardsBackground: #cdd8db;
  --preNavTextColor: #e7dada;
  // --gradient: linear-gradient(90deg, #d61a22 0%, white 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  width: 100%;
  // max-width: 1730px;
  // font-family: "Aoboshi One";
  font-family: "Noto Sans Armenian", "Noto Sans";
  // font-family: "PT Serif";
}
h1,
h2,
h3,
p {
  font-weight: 400;
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}

button {
  height: 3rem;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
  border: 0px;
  color: var(--textColor);
  border: 0px;
  color: var(--textColor);
  background-color: var(--mainColor);
  cursor: pointer;
}
