:root {
  --mainColor: #ED1C25
  --darkBackground: #0F1B24;
  --lightBackground: #D9D9D98C  
  --darkTextColor: #152430
  --lightTextColor: #696666
  --textColor:#FFFFFF

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}