@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
:root {
  --mainColor: #ed1c25;
  --darkBackground: #0f1b24;
  --lightBackground: #d9d9d98c;
  --darkTextColor: #152430;
  --lightTextColor: #696666;
  --textColor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1730px;
  font-family: "Aoboshi One";
}
button {
  height: 52px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 50px;
  background-color: var(--mainColor);
  color: var(--textColor);
  border: 0;
}
