.newsPage {
  margin-top: 140px;
  &__content {
    width: 100%;
    margin: 0 auto;
    background-color: #f2eff2;
    &-title {
      background: url("../../../public/images/transport-newBackground.jpeg")
        no-repeat center;
      background-size: cover;
      height: 500px;
      padding: 169px 0 0 200px;
      h2 {
        font-size: 90px;
        color: var(--textColor);
      }
      @media (max-width: 1200px) {
        padding: 169px 0 0 150px;
        h2 {
          font-size: 70px;
        }
      }
      @media (max-width: 768px) {
        padding: 130px 0 0 100px;
        h2 {
          font-size: 50px;
        }
      }
      @media (max-width: 460px) {
        padding: 100px 50px;
        height: auto;
        h2 {
          font-size: 40px;
        }
      }
    }
    &-block {
      width: 89%;
      margin: 82px auto;
      &-title {
        h2 {
          display: flex;
          align-items: center;
          justify-content: start;
          font-size: 40px;
          color: rgba(21, 36, 48, 1);
          text-decoration: underline;
          margin-bottom: 10px;
          margin-left: 50px;
        }
      }
      &-source {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 85px 90px;
        p {
          text-align: justify;
          width: 35%;
          font-size: 33px;
        }
        img:nth-child(2) {
          width: 809px;
          height: 908px;
          border-radius: 67px;
          img {
            width: 809px;
            height: 908px;
          }
        }
        img:nth-child(3) {
          width: 640px;
          height: 401px;
        }
        img:nth-child(4) {
          width: 640px;
          height: 401px;
        }
        img:nth-child(5) {
          width: 576px;
          height: 452px;
        }
      }
      @media (max-width: 1554px) {
        &-title {
          h2 {
            text-align: center;
            font-size: 32px;
          }
        }
        &-source {
          p {
            width: 90%;
            font-size: 26px;
          }
          img:nth-child(2) {
            width: 80%;
            height: auto;
            border-radius: 67px;
          }
          img:nth-child(3) {
            width: 80%;
            height: auto;
          }
          img:nth-child(4) {
            width: 80%;
            height: auto;
          }
          img:nth-child(5) {
            width: 80%;
            height: auto;
          }
        }
      }
      @media (max-width: 768px) {
        &-title {
          h2 {
            font-size: 30px;
          }
        }
        &-source {
          gap: 50px 50px;
          p {
            font-size: 22px;
          }
        }
      }
      @media (max-width: 390px) {
        &-title {
          h2 {
            font-size: 35px;
          }
        }
        &-source {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}
