.newsPage {
  &__content {
    margin: 134px auto 0;
    background-color: #f2eff2;

    &-title {
      background: url("../../../public/images/transport-newBackground.jpeg")
        no-repeat center;
      background-size: cover;
      height: 500px;
      h2 {
        color: var(--textColor);
        padding: 180px 0 0 200px;
        text-align: start;
        font-size: 70px;
        text-transform: uppercase;
      }
    }
    &-achievements {
      background: url(../../../public/images/truck_logistic.png) no-repeat
        center;
      background-size: cover;
      border-radius: 151px 38px 109px 30px;
      display: flex;
      justify-content: center;
      margin-top: 74px;
      margin-bottom: 50px;
      &-box {
        padding: 60px 100px 0px 200px;
        &-left {
          &-title {
            h2 {
              font-size: 44px;
              color: var(--mainColor);
              margin-bottom: 20px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
          p {
            font-size: 26px;
            text-align: justify;
            color: var(--darkBackground);
            font-weight: 500;
            line-height: 44px;
          }
        }
        &-right {
          display: flex;
          justify-content: center;
          gap: 100px;
          img {
            width: 640px;
            border-radius: 64px !important;
            margin-top: 38px;
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    &__content-title {
      height: 450px;
      h2 {
        font-size: 60px;
        padding: 180px 0 0 180px;
      }
    }
    .newsPage__content-achievements {
      &-box {
        padding: 60px 80px 0px 180px;
        &-left {
          &-title {
            h2 {
              font-size: 40px;
            }
          }
          p {
            font-size: 22px;
            line-height: 42px;
          }
        }
        &-right {
          gap: 80px;
        }
      }
    }
  }

  @media (max-width: 1240px) {
    &__content-title {
      height: 400px;
      h2 {
        font-size: 50px;
        padding: 160px 0 0 160px;
      }
    }
    .newsPage__content-achievements {
      &-box {
        padding: 60px 60px 0px 140px;
        &-left {
          display: flex;
          flex-direction: column;
          &-title {
            h2 {
              font-size: 38px;
            }
          }
          p {
            font-size: 24px;
            line-height: 40px;
          }
        }
        &-right {
          gap: 60px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__content-title {
      height: 350px;
      h2 {
        font-size: 40px;
        padding: 140px 0 0 90px;
      }
    }
    .newsPage__content-achievements {
      border-radius: 0;
      margin-top: 0;
      margin-bottom: 60px;
      &-box {
        padding: 40px 20px 0px 20px;
        &-left {
          &-title {
            h2 {
              font-size: 32px;
              text-align: center;
            }
          }
          p {
            font-size: 20px;
            width: 100%;
          }
        }
        &-right {
          flex-wrap: wrap;
          gap: 0;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .newsPage__content-achievements {
      &-box {
        padding: 40px 20px 0px;
        &-left {
          &-title {
            h2 {
              font-size: 28px;
            }
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 490px) {
    &__content-title {
      height: 300px;
      padding: 22px 0;
      h2 {
        font-size: 28px;
        padding: 100px 0 0 40px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 390px) {
    &__content-title {
      height: 250px;
      h2 {
        font-size: 24px;
        padding: 80px 0 0 20px;
      }
    }
  }

  @media (max-width: 320px) {
    &__content-title {
      height: 220px;
      h2 {
        font-size: 20px;
        padding: 60px 0 0 15px;
      }
    }
  }
}
