.newsPage {
  &__content {
    margin: 134px auto 0;
    background-color: #f2eff2;
    &-title {
      background: url("../../../public/images/transport-newBackground.jpeg")
        no-repeat center;
      background-size: cover;
      height: 500px;
      h2 {
        color: var(--textColor);
        padding: 180px 0 0 200px;
        text-align: start;
        font-size: 70px;
        text-transform: uppercase;
      }
    }
    &-block {
      // width: 89%;
      // margin: 82px auto;
      // border: 2px solid red;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(27.7rem, 1fr));
      // gap: 3rem;
      // max-width: calc(5 * (27.7rem + 3rem));
      // margin: 0 auto;
      &-title {
        
        h2 {
          display: flex;
          align-items: center;
          justify-content: start;
          font-size: 40px;
          color: rgba(21, 36, 48, 1);
          text-decoration: underline;
          margin-bottom: 10px;
          margin-left: 50px;
        }
      }
      &-source {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 85px 90px;
        p {
          text-align: justify;
          width: 35%;
          font-size: 33px;
        }
        img:nth-child(2) {
          width: 640px;
          height: 401px;
          border-radius: 67px;
          img {
           width: 640px;
          height: 401px;
          }
        }
        img:nth-child(3) {
          width: 640px;
          height: 401px;
        }
        img:nth-child(4) {
          width: 640px;
          height: 401px;
        }
        img:nth-child(5) {
          width: 576px;
          height: 452px;
        }
      }
      @media (max-width: 1554px) {
        &-title {
          h2 {
            text-align: center;
            font-size: 32px;
          }
        }
        &-source {
          p {
            width: 90%;
            font-size: 26px;
          }
          img:nth-child(2) {
            width: 80%;
            height: auto;
            border-radius: 67px;
          }
          img:nth-child(3) {
            width: 80%;
            height: auto;
          }
          img:nth-child(4) {
            width: 80%;
            height: auto;
          }
          img:nth-child(5) {
            width: 80%;
            height: auto;
          }
        }
      }
      @media (max-width: 768px) {
        &-title {
          h2 {
            font-size: 30px;
          }
        }
        &-source {
          gap: 50px 50px;
          p {
            font-size: 22px;
          }
        }
      }
      @media (max-width: 390px) {
        &-title {
          h2 {
            font-size: 35px;
            margin: 0 auto 10px;
          }
        }
        &-source {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}


@media (max-width: 1440px) {
  .newsPage {
    &__content {
      &-title {
        height: 450px;
        h2 {
          font-size: 60px;
          padding: 180px 0 0 180px;
        }
      }
    }
  }
}
@media (max-width: 1240px) {
  .newsPage {
    &__content {
      &-title {
        height: 400px;
        h2 {
          font-size: 50px;
          padding: 160px 0 0 160px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .newsPage {
    &__content {
      &-title {
        height: 350px;
        h2 {
          font-size: 40px;
          padding: 140px 0 0 90px;
        }
      }
      &-items {
        &-item {
          width: 80%;
          h2 {
            font-size: 22px;
            width: 90%;
            margin: 54px auto 20px auto;
          }
          p {
            font-size: 16px;
            min-height: fit-content !important;
          }

          img {
            width: 80%;
            height: 60%;
            max-height: fit-content;
          }
        }
      }
    }
  }
}
@media (max-width: 490px) {
  .newsPage {
    &__content {
      &-title {
        padding: 22px 0 22px 0;
        h2 {
          font-size: 28px;
          
        }
        p {
          font-size: 14px;
        }
      }
      &-items {
        &-item {
          width: 80%;
          h2 {
            font-size: 22px;
            width: 90%;
            margin: 54px auto 20px auto;
          }
          p {
            font-size: 16px;
            min-height: fit-content !important;
          }

          img {
            width: 80%;
            height: 60%;
            max-height: fit-content;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .newsPage {
    &__content {
      &-title {
        height: 250px;
        h2 {
          padding: 100px 0 0 40px;
        }
      }
      &-items {
        margin-top: 0;
        margin-bottom: 0px;
        gap: 40px;
        &-item {
          width: 80%;
          a {
            h2 {
              margin-top: 20px;
              font-size: 18px;
              line-height: 30px;
              overflow: hidden;
            }
          }
          p {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
