.Nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 48px auto 0;
  background-color: var(--textColor);
  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    &-logo {
      overflow-y: hidden;
    }

    &-links {
      ul {
        display: flex;
        gap: 6.25rem;
        text-transform: uppercase;
        color: var(--darkBackground);
        font-weight: 700;
        li {
          list-style: none;
          a {
            color: var(--darkBackground);
            text-decoration: none;
          }
        }
      }
    }
    &-settings {
      display: flex;
      align-items: center;
      gap: 4.875rem;
      button {
        width: 12.125rem;
        background-color: var(--darkBackground);
        cursor: pointer;
        text-transform: uppercase;
      }
      i {
        font-size: 24px;

        select {
          position: relative;
          right: 23px;
          top: -3px;
          background-color: transparent;
          color: transparent;
          width: 25px;

          cursor: pointer;
          height: 25px;
          border: 0;
          padding: 4px;
          border-radius: 12px;
          option {
            color: var(--darkBackground);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    .burger {
      i {
        cursor: pointer;
        color: var(--darkBackground);
        font-size: 28px;
      }
      display: none;
    }
  }

  @media (max-width: 1450px) {
    .Nav {
      &__content {
        &-logo {
          img {
            width: 9rem;
            margin: 1em 0;
          }
        }
        &-links {
          ul {
            gap: 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 1240px) {
    .Nav {
      &__content {
        padding: 0 3rem;
        justify-content: space-between;

        &-links {
          ul {
            font-size: 12px;
          }
        }
        &-settings {
          gap: 2rem;
          button {
            width: 6rem;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.active {
  color: var(--mainColor) !important;

  font-weight: bold;
  opacity: 1;
}
.BurgerMenu {
  position: fixed;
  width: 30%;
  left: 70%;
  height: auto;
  background-color: var(--darkBackground);
  z-index: 10;
  padding: 10px 0;

  &__content {
    width: 100%;
    &-links {
      width: 100%;
      ul {
        text-transform: uppercase;
        text-align: center;
        width: 100%;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          width: 100%;
          height: 50px;
          background-color: var(--darkBackground);
          cursor: pointer;
          .active {
            color: var(--mainColor);
          }

          a {
            text-decoration: none;
            color: var(--textColor);
            font-size: 14px;
            padding: 0 20px;
            &:hover {
              color: var(--mainColor);
            }
          }
        }
      }
    }
  }
  &__header {
    text-align: right;
    margin-right: 20px;
    margin-top: 38px;
    width: 100%;
  }
  &__close {
    svg {
      font-size: 40px;
      padding: 0 10px;
      color: var(--textColor);
      cursor: pointer;
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
        color: var(--mainColor);
      }
    }
  }
}
@media (max-width: 970px) {
  .Nav {
    &__content {
      &-links {
        ul {
          display: none;
        }
      }
      &-settings {
        button {
          font-size: 10px;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .Nav {
    &__content {
      padding: 0 2rem;

      &-logo {
        img {
          width: 7rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          gap: 3rem;
          font-size: 12px;
        }
      }
      &-settings {
        gap: 2rem;

        button {
          display: none;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 690px) {
  .Nav {
    &__content {
      &-logo {
        img {
          width: 9rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          display: none;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 390px) {
  .Nav {
    &__content {
      padding: 0 1rem !important;
      align-items: center;
      height: auto;

      &-logo {
        img {
          width: 3rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          flex-direction: column;
          gap: 1rem;
        }
      }
      &-settings {
        width: 7rem;
      }
    }
    .burger {
      display: block;
    }
  }
  .BurgerMenu {
    &__content {
      &-links {
        ul {
          li {
            a {
              font-size: 10px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
