.Nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 48px auto 0;
  background-color: #f2eff2;
  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    &-logo {
      overflow-y: hidden;
    }
    &-links {
      ul {
        display: flex;
        gap: 6.25rem;
        text-transform: uppercase;
        color: var(--darkBackground);
        font-weight: 700;
        li {
          list-style: none;

          a {
            color: var(--darkBackground);
            text-decoration: none;
          }
        }
      }
    }
    &-settings {
      display: flex;
      align-items: center;
      gap: 4.875rem;
      button {
        height: 51px;
        width: 12.125rem;
        background-color: var(--darkBackground);
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px;
      }
      select {
        font-size: 16px;
        cursor: pointer;
        border: 0;
        background-color: #f2eff2;
        color: var(--darkBackground);
        option {
          color: var(--darkBackground);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .burger {
      i {
        cursor: pointer;
        color: var(--darkBackground);
        font-size: 28px;
      }
      display: none;
    }
  }
  @media (max-width: 1450px) {
    .Nav {
      &__content {
        &-logo {
          img {
            width: 9rem;
            margin: 1em 0;
          }
        }
        &-links {
          ul {
            gap: 2rem;
          }
        }
      }
    }
  }
  @media (max-width: 1240px) {
    .Nav {
      &__content {
        padding: 0 3rem;
        justify-content: space-between;
        &-links {
          ul {
            font-size: 12px;
          }
        }
        &-settings {
          gap: 2rem;
          button {
            width: 6rem;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.active {
  color: var(--mainColor) !important;
  font-weight: bold;
  opacity: 1;
}
.BurgerMenu {
  position: fixed;
  width: 100vw;
  height: 80vh;
  top: 21%;
  background-color: var(--darkBackground);
  z-index: 100;
  padding: 0;
  .copyrighting {
    padding: 10px 0 15px !important;
    border-top: 1px solid white;
    p {
      font-size: 10px;
      color: #f2eff2;
      text-align: center;
    }
  }

  &__content {
    width: 100%;
    &-links {
      width: 90%;
      margin: 0 auto;
      ul {
        margin: 40px 0 30px 0;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        li {
          list-style: none;
          width: 100%;
          height: 27px;
          background-color: var(--darkBackground);
          cursor: pointer;
          .active {
            color: var(--mainColor);
          }
          a {
            text-decoration: none;
            color: var(--textColor);
            font-size: 20px;
            padding: 0 20px;
            &:hover {
              color: var(--mainColor);
            }
          }
        }
      }
    }
    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-socials {
        display: flex;
        gap: 40px;
        margin-top: 22px;
        margin-left: 14px;
        img {
          margin-bottom: 40px;
        }
      }
      &-car {
        width: 60%;
      }
      &-text {
        text-align: center;
        max-width: 75%;
        h2 {
          margin: 5px 0 7px;
          color: white;
          font-size: 13px;
          min-width: 250px;
        }
        p {
          margin-bottom: 20px;
          color: #d2d2d2;
          font-size: 8px;
        }
      }
      form {
        min-width: 206px;
        input {
          width: 100%;
          height: 41px;
          padding: 5px;
          border: 0.69px #e4e4e7 solid;
          background-color: transparent;
          border-radius: 2.75px;
          color: #e4e4e7;
          margin-bottom: 16px;
          &:focus {
            outline: none !important  ;
            border: 0.69px #e4e4e7 solid;
          }
        }
        button {
          width: 100%;
          height: 34px;
          font-weight: bold;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .Nav {
    &__content {
      &-links {
        ul {
          display: none;
        }
      }
      &-settings {
        button {
          font-size: 10px;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .Nav {
    &__content {
      padding: 0 2rem;
      justify-content: space-evenly;
      width: 100%;
      &-logo {
        img {
          width: 7rem;
          margin: 1em 0;
        }
      }
      &-links {
        display: none;
      }
      &-settings {
        width: fit-content !important;
        button {
          display: none;
        }
      }
    }
    .burger {
      display: block;
      min-width: 90px;
    }
  }
}

@media (max-width: 450px) {
  .Nav {
    &__content {
      padding: 0 5px;
      .burger {
        display: block;
      }
      &-logo {
        img {
          width: 7rem !important;
          margin: 1em 0;
        }
      }
      &-settings {
        width: 90px;
      }
    }
  }
  .BurgerMenu {
    top: 16%;
    height: 100vh;
    overflow-y: hidden;
    &__content {
      &-bottom {
        &-socials {
          width: auto;
          gap: 14px;
          align-items: center;
          img {
            width: 31px;
            height: 31px;
          }
        }
      }
      &-links {
        ul {
          li {
            a {
              font-size: 18px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .Nav {
    &__content {
      padding: 0 10px 0 10px !important;
      align-items: center;

      &-logo {
        img {
          width: 3rem;
        }
      }
      &-settings {
        max-width: fit-content;
        select {
          font-size: 12px;
        }
      }
    }
  }
}
