.Nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  margin: 48px auto 0;
  background-color: #f2eff2;
  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    &-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      padding: 8px 0 0 0;
      img:nth-child(1) {
        width: 70px;
        padding: 0px 6px;
      }
      img:nth-child(2) {
        width: 120px;
        padding: 8px 0;
      }
    }
    &-links {
      ul {
        display: flex;
        gap: 6.25rem;
        text-transform: uppercase;
        color: var(--darkBackground);
        font-weight: bold;
        li {
          a {
            color: var(--darkBackground);
          }
        }
      }
    }
    &-settings {
      display: flex;
      align-items: center;
      gap: 4.875rem;
      button {
        height: 51px;
        width: 12.125rem;
        background-color: var(--darkBackground);
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
      }
      select {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border: 0;
        background-color: #f2eff2;
        color: var(--darkBackground);
        option {
          color: var(--darkBackground);
        }
        &:focus {
          outline: none;
        }
      }
    }
    .burger {
      i {
        cursor: pointer;
        color: var(--darkBackground);
        font-size: 30px;
      }
      display: none;
    }
  }
  @media (max-width: 1450px) {
    .Nav {
      &__content {
        &-logo {
        }
        &-links {
          ul {
            gap: 2rem;
          }
        }
      }
    }
  }
  @media (max-width: 1240px) {
    .Nav {
      &__content {
        padding: 0 20px;
        justify-content: space-between;

        &-links {
          ul {
            font-size: 12px;
          }
        }
        &-settings {
          gap: 2rem;
          button {
            width: 120px;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.active {
  color: var(--mainColor) !important;
  font-weight: bold;
}
.BurgerMenu {
  margin: 138px 0 0 0;
  position: fixed;
  padding: 0 0 20px 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--darkBackground);
  z-index: 100;

  &__content {
    &-links {
      width: 100%;
      ul {
        padding: 20px 0;
        text-transform: uppercase;
        text-align: center;
        li {
          cursor: pointer;
          margin: 18px 0;
          a {
            font-size: 18px;
            color: var(--textColor);
          }
        }
      }
    }
    &-bottom {
      width: 100%;
      padding: 0 20px;
      &-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 20px 0 0 0;
      }
      &-text {
        max-width: 500px;
        text-align: center;
        margin: 20px auto;
        h2 {
          color: white;
          font-size: 14px;
          margin-bottom: 10px;
        }
        p {
          color: #d2d2d2;
          font-size: 12px;
        }
      }
      form {
        max-width: 400px;
        margin: 0 auto;
        input {
          width: 100%;
          height: 40px;
          padding: 5px;
          border: 0.69px solid #e4e4e7;
          background-color: transparent;
          border-radius: 2.75px;
          color: #e4e4e7;
          margin-bottom: 16px;
          &:focus {
            outline: none !important;
            border: 0.69px #e4e4e7 solid;
          }
        }
        button {
          width: 100%;
          height: 34px;
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .Nav {
    &__content {
      &-links {
        ul {
          display: none;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .Nav {
    &__content {
      &-logo {
        img:nth-child(1) {
          width: 54px;
        }
        img:nth-child(2) {
          width: 80px;
        }
      }
      &-links {
        display: none;
      }
      &-settings {
        button {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .Nav {
    &__content {
      &-logo {
        img:nth-child(1) {
          width: 50px;
        }
        img:nth-child(2) {
          width: 70px;
        }
      }
    }
  }
}
