.nav {
  width: 100%;
  &__content {

    // select{
    //   border-radius: 8px;
    //   option{
    //     color: var(--darkBackground);
    //     border-radius: 8px;
        
    //   }
      

    // }
    padding: 0 166px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      width: 176px;
      height: 56px;
    }
    &-links {
      ul {
        display: flex;
        gap: 100px;
        text-transform: uppercase;
        color: var(--darkBackground);
        a {
          cursor: pointer;
          color: var(--darkBackground);
          text-decoration: none;
        }
      }
    }
    &-settings {
      display: flex;
      gap: 78px;
      button {
        width: 194px;
        background-color: var(--darkBackground);
        cursor: pointer;
        text-transform: uppercase;
      }
      select {
        border: 0;
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 16px;
      }
    }
    
  }
  
}
