.Nav {
  position: fixed;
  margin-top: 48px;
  z-index: 999;
  width: 100%;
  margin: 44px auto 0;
  background-color: var(--textColor);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    height: 90px;
    &-logo {
      overflow-y: hidden;
    }

    &-links {
      ul {
        display: flex;
        gap: 6.25rem;
        text-transform: uppercase;
        color: var(--darkBackground);
        li {
          list-style: none;
          a {
            color: var(--darkBackground);
            text-decoration: none;
          }
        }
      }
    }
    &-settings {
      display: flex;
      gap: 4.875rem;
      button {
        width: 12.125rem;
        background-color: var(--darkBackground);
        cursor: pointer;
        text-transform: uppercase;
      }

      select {
        background-color: transparent;
        color: var(--darkBackground);
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        border: 3px solid var(--darkBackground);
        padding: 4px;
        border-radius: 12px;
      }
    }
    .burger {
      i {
        color: var(--darkBackground);
        font-size: 28px;
      }
      display: none;
    }
  }

  @media (max-width: 1450px) {
    .Nav {
      &__content {
        &-logo {
          img {
            width: 9rem;
            margin: 1em 0;
          }
        }
        &-links {
          ul {
            gap: 2rem;
          }
        }
      }
    }
  }

  @media (max-width: 1240px) {
    .Nav {
      &__content {
        padding: 0 3rem;
        &-links {
          ul {
            gap: 2rem;
            font-size: 12px;
          }
        }
        &-settings {
          gap: 2rem;
          button {
            width: 6rem;
            font-size: 10px;
          }
        }
      }
    }
  }
}
.BurgerMenu {
  position: fixed;
  width: 30%;
  left: 70%;
  height: auto;
  background-color: var(--darkBackground);
  z-index: 1;
  padding: 10px 0;
  transform: translateX(100%);
  transition: transform 2.3s ease;
  &__active {
    transition: transform 2.3s ease;
    transform: translateX(0);
  }
  &__content {
    width: 100%;
    &-links {
      width: 100%;
      ul {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        &:hover li:not(:hover) {
          opacity: 0.3;
          transition: 0.5s;
        }
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          width: 100%;
          height: 50px;
          background-color: var(--darkBackground);
          cursor: pointer;
          opacity: 1;

          a {
            text-decoration: none;
            color: var(--textColor);
          }
        }
      }
    }
  }
  &__header {
    text-align: right;
    margin-right: 20px;
    button {
      color: var(--mainColor);
      background-color: var(--darkBackground);
      &:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: 768px) {
  .Nav {
    &__content {
      padding: 0 2rem;

      &-logo {
        img {
          width: 7rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          gap: 3rem;
          font-size: 14px;
        }
      }
      &-settings {
        gap: 2rem;
        button {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 690px) {
  .Nav {
    &__content {
      &-logo {
        img {
          width: 9rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          display: none;
        }
      }
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 390px) {
  .Nav {
    &__content {
      padding: 0 1rem;
      align-items: center;
      height: auto;

      &-logo {
        img {
          width: 3rem;
          margin: 1em 0;
        }
      }
      &-links {
        ul {
          flex-direction: column;
          gap: 1rem;
        }
      }
      &-settings {
        width: 7rem;
      }
    }
    .burger {
      display: block;
    }
  }
}
